USE master;
GO

CREATE DATABASE [{DB_NAME}]
GO
USE [{DB_NAME}]
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [{DB_NAME}].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
-- EXEC sys.sp_db_vardecimal_storage_format N'DevOnlineStore', N'ON'
GO
USE [{DB_NAME}]
GO
/****** Object:  StoredProcedure [dbo].[AppendDbVersionInfo]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AppendDbVersionInfo]
	@dbVersion VARCHAR(11),
	@notes NVARCHAR(255)
AS
	INSERT INTO DbVersions
	  (
		Major,
		Minor,
		Notes
	  )
	VALUES
	  (
		dbo.ParseMajorDbVersion(@dbVersion),
		dbo.ParseMinorDbVersion(@dbVersion),
		@notes
	  )
GO
/****** Object:  StoredProcedure [dbo].[ELMAH_GetErrorsXml]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELMAH_GetErrorsXml]
(
    @Application NVARCHAR(60),
    @PageIndex INT = 0,
    @PageSize INT = 15,
    @TotalCount INT OUTPUT
)
AS 

    SET NOCOUNT ON

    DECLARE @FirstTimeUTC DATETIME
    DECLARE @FirstSequence INT
    DECLARE @StartRow INT
    DECLARE @StartRowIndex INT

    SELECT 
        @TotalCount = COUNT(1) 
    FROM 
        [ELMAH_Error]
    WHERE 
        [Application] = @Application

    -- Get the ID of the first error for the requested page

    SET @StartRowIndex = @PageIndex * @PageSize + 1

    IF @StartRowIndex <= @TotalCount
    BEGIN

        SET ROWCOUNT @StartRowIndex

        SELECT  
            @FirstTimeUTC = [TimeUtc],
            @FirstSequence = [Sequence]
        FROM 
            [ELMAH_Error]
        WHERE   
            [Application] = @Application
        ORDER BY 
            [TimeUtc] DESC, 
            [Sequence] DESC

    END
    ELSE
    BEGIN

        SET @PageSize = 0

    END

    -- Now set the row count to the requested page size and get
    -- all records below it for the pertaining application.

    SET ROWCOUNT @PageSize

    SELECT 
        errorId     = [ErrorId], 
        application = [Application],
        host        = [Host], 
        type        = [Type],
        source      = [Source],
        message     = [Message],
        [user]      = [User],
        statusCode  = [StatusCode], 
        time        = CONVERT(VARCHAR(50), [TimeUtc], 126) + 'Z'
    FROM 
        [ELMAH_Error] error
    WHERE
        [Application] = @Application
    AND
        [TimeUtc] <= @FirstTimeUTC
    AND 
        [Sequence] <= @FirstSequence
    ORDER BY
        [TimeUtc] DESC, 
        [Sequence] DESC
    FOR
        XML AUTO
GO
/****** Object:  StoredProcedure [dbo].[ELMAH_GetErrorXml]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELMAH_GetErrorXml]
(
    @Application NVARCHAR(60),
    @ErrorId UNIQUEIDENTIFIER
)
AS

    SET NOCOUNT ON

    SELECT 
        [AllXml]
    FROM 
        [ELMAH_Error]
    WHERE
        [ErrorId] = @ErrorId
    AND
        [Application] = @Application
GO
/****** Object:  StoredProcedure [dbo].[ELMAH_LogError]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELMAH_LogError]
(
    @ErrorId UNIQUEIDENTIFIER,
    @Application NVARCHAR(60),
    @Host NVARCHAR(30),
    @Type NVARCHAR(100),
    @Source NVARCHAR(60),
    @Message NVARCHAR(500),
    @User NVARCHAR(50),
    @AllXml NTEXT,
    @StatusCode INT,
    @TimeUtc DATETIME
)
AS

    SET NOCOUNT ON

    INSERT
    INTO
        [ELMAH_Error]
        (
            [ErrorId],
            [Application],
            [Host],
            [Type],
            [Source],
            [Message],
            [User],
            [AllXml],
            [StatusCode],
            [TimeUtc]
        )
    VALUES
        (
            @ErrorId,
            @Application,
            @Host,
            @Type,
            @Source,
            @Message,
            @User,
            @AllXml,
            @StatusCode,
            @TimeUtc
        )
GO
/****** Object:  UserDefinedFunction [dbo].[CheckVersioningIntegrity]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckVersioningIntegrity]
(
)
RETURNS INT
AS
BEGIN
	IF OBJECT_ID('dbo.DbVersions', 'table') IS NULL
	BEGIN
		RETURN 1;
	END
	
	IF OBJECT_ID('dbo.GetCurrentDbVersionAsString', 'function') IS NULL
	BEGIN
		RETURN 2;
	END
	
	IF OBJECT_ID('dbo.ParseMajorDbVersion', 'function') IS NULL
	BEGIN
		RETURN 3;
	END
	
	IF OBJECT_ID('dbo.ParseMinorDbVersion', 'function') IS NULL
	BEGIN
		RETURN 4;
	END;
	
	IF OBJECT_ID('dbo.AppendDbVersionInfo', 'procedure') IS NULL
	BEGIN
		RETURN 5;
	END;
	
	IF OBJECT_ID('dbo.CompareDbVersions', 'function') IS NULL
	BEGIN
		RETURN 6;
	END;
	
	IF OBJECT_ID('dbo.CompareDbVersionWithCurrent', 'function') IS NULL
	BEGIN
		RETURN 7;
	END;
	
	IF OBJECT_ID('dbo.CurrentDbVersion', 'view') IS NULL
	BEGIN
		RETURN 8;
	END;
	
	RETURN 0;
END
GO
/****** Object:  UserDefinedFunction [dbo].[CompareDbVersions]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- RETURNS 
-- -1 IF @x < @y 
--  0 IF @x = @y
--  1 IF @x > @y
-- -2 IF (@xMajor = @yMajor AND @xMinor > @yMinor AND (@xMinor - @yMinor) <> 1
CREATE FUNCTION [dbo].[CompareDbVersions]
(
	@x     VARCHAR(11),
	@y     VARCHAR(11)
)
RETURNS INT
AS
BEGIN
	DECLARE @xMajor INT
	DECLARE @xMinor INT
	
	DECLARE @yMajor INT
	DECLARE @yMinor INT
	
	SET @xMajor = dbo.ParseMajorDbVersion(@x)
	SET @xMinor = dbo.ParseMinorDbVersion(@x)
	
	SET @yMajor = dbo.ParseMajorDbVersion(@y)
	SET @yMinor = dbo.ParseMinorDbVersion(@y)
	
	DECLARE @result INT
	SET @result = -2
	
	IF (
		   @xMajor < @yMajor
		   OR (@xMajor = @yMajor AND @xMinor < @yMinor)
	   )
		SET @result = -1
	ELSE 
	IF (
		   @xMajor > @yMajor
		   OR (@xMajor = @yMajor AND @xMinor > @yMinor AND (@xMinor - @yMinor) = 1)
	   )
		SET @result = 1
	
	RETURN @result
END
GO
/****** Object:  UserDefinedFunction [dbo].[CompareDbVersionWithCurrent]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CompareDbVersionWithCurrent]
(
	@dbVersion VARCHAR(11)
)
RETURNS INT
AS
BEGIN
	DECLARE @currentDbVersion VARCHAR(11)
	SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()
	
	RETURN dbo.CompareDbVersions(@dbVersion, @currentDbVersion)
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetCurrentDbVersionAsString]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- End checking possibility of using

-- BEGIN CHANGES

CREATE FUNCTION [dbo].[GetCurrentDbVersionAsString]
(
)
RETURNS VARCHAR(11)
AS
BEGIN
	DECLARE @result NVARCHAR(10)

	IF EXISTS (
		   SELECT TOP 1 * 
		   FROM   DbVersions
		   ORDER BY Major, Minor DESC
	   )
	BEGIN
		SET @result = (
				SELECT TOP 1
					   CAST(Major AS VARCHAR(5)) + '.' + CAST(Minor AS VARCHAR(5))
				FROM   DbVersions
				ORDER BY Major DESC, Minor DESC
			)
	END
	ELSE
	BEGIN
		SET @result = '0.0'
	END
	RETURN @result

END
GO
/****** Object:  UserDefinedFunction [dbo].[ParseMajorDbVersion]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ParseMajorDbVersion]
(
	@strDbVersion VARCHAR(11)
)
RETURNS INT
AS
BEGIN
	DECLARE @splitData TABLE (Id INT, Item VARCHAR(5))
	INSERT INTO @splitData
	SELECT *
	FROM   dbo.SplitString(@strDbVersion, '.')
	
	DECLARE @result INT
	
	DECLARE @majorDbVersionAsString VARCHAR(5)
	
	SET @majorDbVersionAsString = (
			SELECT TOP 1
				   item
			FROM   @splitData
			WHERE  Id = 0
		)  
	
	SET @result = TRY_PARSE(@majorDbVersionAsString AS INT)
	
	RETURN @result
END
GO
/****** Object:  UserDefinedFunction [dbo].[ParseMinorDbVersion]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ParseMinorDbVersion]
(
	@strDbVersion VARCHAR(11)
)
RETURNS INT
AS
BEGIN
	DECLARE @splitData TABLE (Id INT, Item VARCHAR(5))
	INSERT INTO @splitData
	SELECT *
	FROM   dbo.SplitString(@strDbVersion, '.')
	
	DECLARE @result INT
	
	DECLARE @majorDbVersionAsString VARCHAR(5)
	
	SET @majorDbVersionAsString = (
			SELECT TOP 1
				   item
			FROM   @splitData
			WHERE  Id = 1
		) 
	
	SET @result = TRY_PARSE(@majorDbVersionAsString AS INT)
	
	RETURN @result
END
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Person_Id] [int] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brands]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Buyers]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Buyers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactInfos]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ContactInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContentContentTypes]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentContentTypes](
	[ContentTypeId] [int] NOT NULL,
	[ContentId] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ContentContentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contents]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContentTypes]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ContentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EnglishName] [nvarchar](50) NOT NULL,
	[ISO] [nchar](3) NOT NULL,
	[PhoneCode] [nvarchar](max) NULL,
	[TwoCharsCode] [nchar](2) NOT NULL,
	[ThreeCharsCode] [nchar](3) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DbVersions]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbVersions](
	[Major] [int] NOT NULL,
	[Minor] [int] NOT NULL,
	[AppliedAt] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](255) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ELMAH_Error]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ELMAH_Error](
	[ErrorId] [uniqueidentifier] NOT NULL,
	[Application] [nvarchar](60) NOT NULL,
	[Host] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Source] [nvarchar](60) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[User] [nvarchar](50) NOT NULL,
	[StatusCode] [int] NOT NULL,
	[TimeUtc] [datetime] NOT NULL,
	[Sequence] [int] IDENTITY(1,1) NOT NULL,
	[AllXml] [ntext] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Files]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Files](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Data] [varbinary](max) NULL,
	[ContentContentType_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Files] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderedProducts]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderedProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtTheTimeOfPurchase] [decimal](18, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[OrderId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrderedProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ApplicationUserId] [nvarchar](128) NULL,
	[Person_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderStatusHistoryItems]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistoryItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[OrderId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OrderStatusHistoryItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[People]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[MiddleName] [nvarchar](255) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.People] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](1024) NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ParentId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategoryProducts]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategoryProducts](
	[Product_Id] [int] NOT NULL,
	[ProductCategory_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategoryProducts] PRIMARY KEY CLUSTERED 
(
	[ProductCategory_Id] ASC,
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductPhotos]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPhotos](
	[Id] [int] NOT NULL,
	[Product_Id] [int] NULL,
	[IsMain] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductPhotos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[BrandId] [int] NOT NULL,
	[CountryProducer_Id] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[ShortDescription] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitString]
(
	@str           NVARCHAR(MAX),
	@separator     CHAR(1)
)
RETURNS TABLE
AS
	RETURN 
	(
		WITH tokens(p, a, b) AS 
			 (
				 SELECT CAST(1 AS BIGINT),
						CAST(1 AS BIGINT),
						CHARINDEX(@separator, @str)
				 UNION ALL
				 SELECT p + 1,
						b + 1,
						CHARINDEX(@separator, @str, b + 1)
				 FROM   tokens
				 WHERE  b > 0
			 )
	
	SELECT p - 1 AS ItemIndex,
		   LTRIM(RTRIM(SUBSTRING(@str, a, IIF(b > 0, b - a, LEN(@str))))) AS 
		   Item
	FROM   tokens
	);
GO
/****** Object:  View [dbo].[CurrentDbVersion]    Script Date: 22.02.2016 17:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CurrentDbVersion] AS
SELECT dbo.ParseMajorDbVersion(dbo.GetCurrentDbVersionAsString()) AS 
	   MajorVersion,
	   dbo.ParseMinorDbVersion(dbo.GetCurrentDbVersionAsString()) AS 
	   MinorVersion
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'921CBB1F-40FC-40BB-8D31-485015D07A7C', N'admin')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5babe839-9bf0-49b5-be57-a4d2bccb1148', N'921CBB1F-40FC-40BB-8D31-485015D07A7C')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Person_Id]) VALUES (N'078cfc62-9bdd-43fb-ba90-3278c8b539fb', N'dev.onlinestore@gmail.com', 0, N'AAzl24XBLNuxQX25kNeFCBIzTq0jTkmkrPeptgeuQK4p+YI1qOTbd95VhYMyBO9RDA==', N'33616428-ba0e-4a05-830a-4d921ea6316d', NULL, 0, 0, NULL, 0, 0, N'dev.onlinestore@gmail.com', NULL)
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Person_Id]) VALUES (N'5babe839-9bf0-49b5-be57-a4d2bccb1148', N'test.adm.onlinestore@gmail.com', 0, N'ABZoTbT3t70RYR4DoHUEM9gCpDftK+LhMAsnvsctunVquGe4WUbMvQzCz+xpzKr9pg==', N'c27fe5b4-a058-44b4-959a-1b0b2c6367e9', NULL, 0, 0, NULL, 0, 0, N'test.adm.onlinestore@gmail.com', NULL)
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

GO
INSERT [dbo].[Brands] ([Id], [Name], [IsDeleted]) VALUES (1, N'Vortice', 0)
GO
INSERT [dbo].[Brands] ([Id], [Name], [IsDeleted]) VALUES (2, N'Германия', 0)
GO
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactInfos] ON 

GO
INSERT [dbo].[ContactInfos] ([Id], [Content], [IsDeleted]) VALUES (1, N'Нема даних', 0)
GO
SET IDENTITY_INSERT [dbo].[ContactInfos] OFF
GO
INSERT [dbo].[ContentContentTypes] ([ContentTypeId], [ContentId], [Id], [IsDeleted]) VALUES (2, 1, 0, 0)
GO
INSERT [dbo].[ContentContentTypes] ([ContentTypeId], [ContentId], [Id], [IsDeleted]) VALUES (1, 1, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Contents] ON 

GO
INSERT [dbo].[Contents] ([Id], [Code], [Name], [IsDeleted]) VALUES (1, 1, N'image', 0)
GO
SET IDENTITY_INSERT [dbo].[Contents] OFF
GO
SET IDENTITY_INSERT [dbo].[ContentTypes] ON 

GO
INSERT [dbo].[ContentTypes] ([Id], [Code], [Name], [IsDeleted]) VALUES (1, 1, N'png', 0)
GO
INSERT [dbo].[ContentTypes] ([Id], [Code], [Name], [IsDeleted]) VALUES (2, 1, N'jpeg', 0)
GO
SET IDENTITY_INSERT [dbo].[ContentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

GO
INSERT [dbo].[Countries] ([Id], [EnglishName], [ISO], [PhoneCode], [TwoCharsCode], [ThreeCharsCode], [Name], [IsDeleted]) VALUES (1, N'Australia', N'036', N'+61', N'AU', N'AUS', N'Австралия', 0)
GO
INSERT [dbo].[Countries] ([Id], [EnglishName], [ISO], [PhoneCode], [TwoCharsCode], [ThreeCharsCode], [Name], [IsDeleted]) VALUES (2, N'Austria', N'040', N'+43', N'AT', N'AUT', N'Австрия', 0)
GO
INSERT [dbo].[Countries] ([Id], [EnglishName], [ISO], [PhoneCode], [TwoCharsCode], [ThreeCharsCode], [Name], [IsDeleted]) VALUES (3, N'Azerbaijan', N'031', N'+994', N'AZ', N'AZE', N'Азербайджан', 0)
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
INSERT [dbo].[DbVersions] ([Major], [Minor], [AppliedAt], [Notes]) VALUES (0, 1, CAST(0x0770DAC6FD630F3B0B AS DateTime2), N'')
GO
INSERT [dbo].[DbVersions] ([Major], [Minor], [AppliedAt], [Notes]) VALUES (0, 2, CAST(0x0750FDC8FD630F3B0B AS DateTime2), N'')
GO
INSERT [dbo].[DbVersions] ([Major], [Minor], [AppliedAt], [Notes]) VALUES (0, 3, CAST(0x073091CDFD630F3B0B AS DateTime2), N'Accounting')
GO
SET IDENTITY_INSERT [dbo].[Files] ON 

GO
SET IDENTITY_INSERT [dbo].[Files] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

GO
INSERT [dbo].[ProductCategories] ([Id], [Description], [Name], [ParentId], [IsDeleted]) VALUES (1, NULL, N'Решетки, Дифузоры', NULL, 0)
GO
INSERT [dbo].[ProductCategories] ([Id], [Description], [Name], [ParentId], [IsDeleted]) VALUES (2, NULL, N'Дверки', NULL, 0)
GO
INSERT [dbo].[ProductCategories] ([Id], [Description], [Name], [ParentId], [IsDeleted]) VALUES (3, NULL, N'Фасонина (монтажные елементы)', NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
INSERT [dbo].[ProductCategoryProducts] ([Product_Id], [ProductCategory_Id]) VALUES (1, 4)
GO
INSERT [dbo].[ProductCategoryProducts] ([Product_Id], [ProductCategory_Id]) VALUES (2, 4)
GO
INSERT [dbo].[ProductCategoryProducts] ([Product_Id], [ProductCategory_Id]) VALUES (3, 4)
GO
INSERT [dbo].[ProductPhotos] ([Id], [Product_Id], [IsMain]) VALUES (1, 2, 0)
GO
INSERT [dbo].[ProductPhotos] ([Id], [Product_Id], [IsMain]) VALUES (2, 1, 0)
GO
INSERT [dbo].[ProductPhotos] ([Id], [Product_Id], [IsMain]) VALUES (3, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 22.02.2016 17:54:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Person_Id]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_Person_Id] ON [dbo].[AspNetUsers]
(
	[Person_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 22.02.2016 17:54:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_BrandName]    Script Date: 22.02.2016 17:54:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_BrandName] ON [dbo].[Brands]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_PersonId] ON [dbo].[Buyers]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContentId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_ContentId] ON [dbo].[ContentContentTypes]
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContentTypeId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_ContentTypeId] ON [dbo].[ContentContentTypes]
(
	[ContentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_CountryEnglishName]    Script Date: 22.02.2016 17:54:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_CountryEnglishName] ON [dbo].[Countries]
(
	[EnglishName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_CountryISOCode]    Script Date: 22.02.2016 17:54:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_CountryISOCode] ON [dbo].[Countries]
(
	[ISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_CountryName]    Script Date: 22.02.2016 17:54:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_CountryName] ON [dbo].[Countries]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_CountryThreeCharsCode]    Script Date: 22.02.2016 17:54:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_CountryThreeCharsCode] ON [dbo].[Countries]
(
	[ThreeCharsCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_CountryTwoCharsCode]    Script Date: 22.02.2016 17:54:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_CountryTwoCharsCode] ON [dbo].[Countries]
(
	[TwoCharsCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ELMAH_Error]    Script Date: 22.02.2016 17:54:35 ******/
ALTER TABLE [dbo].[ELMAH_Error] ADD  CONSTRAINT [PK_ELMAH_Error] PRIMARY KEY NONCLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ELMAH_Error_App_Time_Seq]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_ELMAH_Error_App_Time_Seq] ON [dbo].[ELMAH_Error]
(
	[Application] ASC,
	[TimeUtc] DESC,
	[Sequence] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContentContentType_Id]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_ContentContentType_Id] ON [dbo].[Files]
(
	[ContentContentType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[OrderedProducts]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[OrderedProducts]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUserId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUserId] ON [dbo].[Orders]
(
	[ApplicationUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Person_Id]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_Person_Id] ON [dbo].[Orders]
(
	[Person_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[OrderStatusHistoryItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_PRODUCTCATEGORY_PARENT_ID_NAME]    Script Date: 22.02.2016 17:54:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_PRODUCTCATEGORY_PARENT_ID_NAME] ON [dbo].[ProductCategories]
(
	[ParentId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[ProductCategoryProducts]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductCategory_Id]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_ProductCategory_Id] ON [dbo].[ProductCategoryProducts]
(
	[ProductCategory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[ProductPhotos]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[ProductPhotos]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BrandId]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_BrandId] ON [dbo].[Products]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryProducer_Id]    Script Date: 22.02.2016 17:54:35 ******/
CREATE NONCLUSTERED INDEX [IX_CountryProducer_Id] ON [dbo].[Products]
(
	[CountryProducer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_ProductName]    Script Date: 22.02.2016 17:54:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_ProductName] ON [dbo].[Products]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ContentContentTypes] ADD  DEFAULT ((0)) FOR [Id]
GO
ALTER TABLE [dbo].[ContentContentTypes] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DbVersions] ADD  DEFAULT (getdate()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[ELMAH_Error] ADD  CONSTRAINT [DF_ELMAH_Error_ErrorId]  DEFAULT (newid()) FOR [ErrorId]
GO
ALTER TABLE [dbo].[ProductCategories] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('') FOR [ShortDescription]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.People_Person_Id] FOREIGN KEY([Person_Id])
REFERENCES [dbo].[People] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.People_Person_Id]
GO
ALTER TABLE [dbo].[Buyers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Buyers_dbo.People_PersonId] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Buyers] CHECK CONSTRAINT [FK_dbo.Buyers_dbo.People_PersonId]
GO
ALTER TABLE [dbo].[ContentContentTypes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContentContentTypes_dbo.Contents_ContentId] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Contents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentContentTypes] CHECK CONSTRAINT [FK_dbo.ContentContentTypes_dbo.Contents_ContentId]
GO
ALTER TABLE [dbo].[ContentContentTypes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContentContentTypes_dbo.ContentTypes_ContentTypeId] FOREIGN KEY([ContentTypeId])
REFERENCES [dbo].[ContentTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentContentTypes] CHECK CONSTRAINT [FK_dbo.ContentContentTypes_dbo.ContentTypes_ContentTypeId]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Files_dbo.ContentContentTypes_ContentContentType_Id] FOREIGN KEY([ContentContentType_Id])
REFERENCES [dbo].[ContentContentTypes] ([Id])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_dbo.Files_dbo.ContentContentTypes_ContentContentType_Id]
GO
ALTER TABLE [dbo].[OrderedProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductOrders_dbo.Orders_Order_Id] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderedProducts] CHECK CONSTRAINT [FK_dbo.ProductOrders_dbo.Orders_Order_Id]
GO
ALTER TABLE [dbo].[OrderedProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductOrders_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderedProducts] CHECK CONSTRAINT [FK_dbo.ProductOrders_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.People_Person_Id] FOREIGN KEY([Person_Id])
REFERENCES [dbo].[People] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.People_Person_Id]
GO
ALTER TABLE [dbo].[OrderStatusHistoryItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderStatusHistoryItems_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderStatusHistoryItems] CHECK CONSTRAINT [FK_dbo.OrderStatusHistoryItems_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategories_dbo.ProductCategories_Parent_Id] FOREIGN KEY([ParentId])
REFERENCES [dbo].[ProductCategories] ([Id])
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_dbo.ProductCategories_dbo.ProductCategories_Parent_Id]
GO
ALTER TABLE [dbo].[ProductCategoryProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductProductCategories_dbo.ProductCategories_ProductCategory_Id] FOREIGN KEY([ProductCategory_Id])
REFERENCES [dbo].[ProductCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategoryProducts] CHECK CONSTRAINT [FK_dbo.ProductProductCategories_dbo.ProductCategories_ProductCategory_Id]
GO
ALTER TABLE [dbo].[ProductCategoryProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductProductCategories_dbo.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategoryProducts] CHECK CONSTRAINT [FK_dbo.ProductProductCategories_dbo.Products_Product_Id]
GO
ALTER TABLE [dbo].[ProductPhotos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductPhotos_dbo.Files_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [dbo].[ProductPhotos] CHECK CONSTRAINT [FK_dbo.ProductPhotos_dbo.Files_Id]
GO
ALTER TABLE [dbo].[ProductPhotos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductPhotos_dbo.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductPhotos] CHECK CONSTRAINT [FK_dbo.ProductPhotos_dbo.Products_Product_Id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Countries_CountryProducer_Id] FOREIGN KEY([CountryProducer_Id])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Countries_CountryProducer_Id]
GO
USE [master]
GO
