-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.13'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

IF object_id(N'[dbo].[FK_dbo.Products_dbo.Brands_Brand_Id]', N'F') IS NOT NULL
    ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_dbo.Products_dbo.Brands_Brand_Id]
IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_Brand_Id' AND object_id = object_id(N'[dbo].[Products]', N'U'))
    DROP INDEX [IX_Brand_Id] ON [dbo].[Products]
EXECUTE sp_rename @objname = N'dbo.Products.Brand_Id', @newname = N'BrandId', @objtype = N'COLUMN'
ALTER TABLE [dbo].[Products] ALTER COLUMN [BrandId] [int] NOT NULL
CREATE INDEX [IX_BrandId] ON [dbo].[Products]([BrandId])
ALTER TABLE [dbo].[Products] ADD CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandId] FOREIGN KEY ([BrandId]) REFERENCES [dbo].[Brands] ([Id]) ON DELETE CASCADE

-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.13'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info