-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.14'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

CREATE TABLE [dbo].[Files] (
    [Id] [int] NOT NULL IDENTITY,
    [FileName] [nvarchar](255),
    [ContentType] [nvarchar](100),
    [Content] [varbinary](max),
    [IsDeleted] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.Files] PRIMARY KEY ([Id])
)
CREATE TABLE [dbo].[ProductPhotos] (
    [Id] [int] NOT NULL,
    [Product_Id] [int],
    [IsMain] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.ProductPhotos] PRIMARY KEY ([Id])
)
CREATE INDEX [IX_Id] ON [dbo].[ProductPhotos]([Id])
CREATE INDEX [IX_Product_Id] ON [dbo].[ProductPhotos]([Product_Id])
ALTER TABLE [dbo].[ProductPhotos] ADD CONSTRAINT [FK_dbo.ProductPhotos_dbo.Files_Id] FOREIGN KEY ([Id]) REFERENCES [dbo].[Files] ([Id])
ALTER TABLE [dbo].[ProductPhotos] ADD CONSTRAINT [FK_dbo.ProductPhotos_dbo.Products_Product_Id] FOREIGN KEY ([Product_Id]) REFERENCES [dbo].[Products] ([Id])

-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.14'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info