-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.15'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

CREATE TABLE [dbo].[Contents] (
    [Id] [int] NOT NULL IDENTITY,
    [Code] [int] NOT NULL,
    [Name] [nvarchar](250) NOT NULL,
    [IsDeleted] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.Contents] PRIMARY KEY ([Id])
)
CREATE TABLE [dbo].[ContentContentTypes] (
    [ContentTypeId] [int] NOT NULL,
    [ContentId] [int] NOT NULL,
    CONSTRAINT [PK_dbo.ContentContentTypes] PRIMARY KEY ([ContentTypeId], [ContentId])
)
CREATE INDEX [IX_ContentTypeId] ON [dbo].[ContentContentTypes]([ContentTypeId])
CREATE INDEX [IX_ContentId] ON [dbo].[ContentContentTypes]([ContentId])
CREATE TABLE [dbo].[ContentTypes] (
    [Id] [int] NOT NULL IDENTITY,
    [Code] [int] NOT NULL,
    [Name] [nvarchar](250) NOT NULL,
    [IsDeleted] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.ContentTypes] PRIMARY KEY ([Id])
)
ALTER TABLE [dbo].[ContentContentTypes] ADD CONSTRAINT [FK_dbo.ContentContentTypes_dbo.Contents_ContentId] FOREIGN KEY ([ContentId]) REFERENCES [dbo].[Contents] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[ContentContentTypes] ADD CONSTRAINT [FK_dbo.ContentContentTypes_dbo.ContentTypes_ContentTypeId] FOREIGN KEY ([ContentTypeId]) REFERENCES [dbo].[ContentTypes] ([Id]) ON DELETE CASCADE


-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.15'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info