-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.16'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

ALTER TABLE [dbo].[ContentContentTypes] ADD [Id] [int] NOT NULL DEFAULT 0
ALTER TABLE [dbo].[ContentContentTypes] ADD [IsDeleted] [bit] NOT NULL DEFAULT 0
ALTER TABLE [dbo].[Files] ADD [Data] [varbinary](max)
ALTER TABLE [dbo].[Files] ADD [ContentContentType_ContentTypeId] [int]
ALTER TABLE [dbo].[Files] ADD [ContentContentType_ContentId] [int]
CREATE INDEX [IX_ContentContentType_ContentTypeId_ContentContentType_ContentId] ON [dbo].[Files]([ContentContentType_ContentTypeId], [ContentContentType_ContentId])
ALTER TABLE [dbo].[Files] ADD CONSTRAINT [FK_dbo.Files_dbo.ContentContentTypes_ContentContentType_ContentTypeId_ContentContentType_ContentId] FOREIGN KEY ([ContentContentType_ContentTypeId], [ContentContentType_ContentId]) REFERENCES [dbo].[ContentContentTypes] ([ContentTypeId], [ContentId])
DECLARE @var0 nvarchar(128)
SELECT @var0 = name
FROM sys.default_constraints
WHERE parent_object_id = object_id(N'dbo.Files')
AND col_name(parent_object_id, parent_column_id) = 'ContentType';
IF @var0 IS NOT NULL
    EXECUTE('ALTER TABLE [dbo].[Files] DROP CONSTRAINT [' + @var0 + ']')
ALTER TABLE [dbo].[Files] DROP COLUMN [ContentType]
DECLARE @var1 nvarchar(128)
SELECT @var1 = name
FROM sys.default_constraints
WHERE parent_object_id = object_id(N'dbo.Files')
AND col_name(parent_object_id, parent_column_id) = 'Content';
IF @var1 IS NOT NULL
    EXECUTE('ALTER TABLE [dbo].[Files] DROP CONSTRAINT [' + @var1 + ']')
ALTER TABLE [dbo].[Files] DROP COLUMN [Content]

-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.16'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version infon