-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.18'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

IF object_id(N'[dbo].[FK_dbo.Files_dbo.ContentContentTypes_ContentContentType_ContentTypeId_ContentContentType_ContentId]', N'F') IS NOT NULL
    ALTER TABLE [dbo].[Files] DROP CONSTRAINT [FK_dbo.Files_dbo.ContentContentTypes_ContentContentType_ContentTypeId_ContentContentType_ContentId]
IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_ContentContentType_ContentTypeId_ContentContentType_ContentId' AND object_id = object_id(N'[dbo].[Files]', N'U'))
    DROP INDEX [IX_ContentContentType_ContentTypeId_ContentContentType_ContentId] ON [dbo].[Files]
EXECUTE sp_rename @objname = N'dbo.Files.ContentContentType_ContentTypeId', @newname = N'ContentContentType_Id', @objtype = N'COLUMN'
ALTER TABLE [dbo].[ContentContentTypes] DROP CONSTRAINT [PK_dbo.ContentContentTypes]
ALTER TABLE [dbo].[ContentContentTypes] ALTER COLUMN [Id] [int] NOT NULL
ALTER TABLE [dbo].[ContentContentTypes] ADD CONSTRAINT [PK_dbo.ContentContentTypes] PRIMARY KEY ([Id])
CREATE INDEX [IX_ContentContentType_Id] ON [dbo].[Files]([ContentContentType_Id])
ALTER TABLE [dbo].[Files] ADD CONSTRAINT [FK_dbo.Files_dbo.ContentContentTypes_ContentContentType_Id] FOREIGN KEY ([ContentContentType_Id]) REFERENCES [dbo].[ContentContentTypes] ([Id])
DECLARE @var0 nvarchar(128)
SELECT @var0 = name
FROM sys.default_constraints
WHERE parent_object_id = object_id(N'dbo.Files')
AND col_name(parent_object_id, parent_column_id) = 'ContentContentType_ContentId';
IF @var0 IS NOT NULL
    EXECUTE('ALTER TABLE [dbo].[Files] DROP CONSTRAINT [' + @var0 + ']')
ALTER TABLE [dbo].[Files] DROP COLUMN [ContentContentType_ContentId]


-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.18'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version infon