-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.26'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

EXECUTE sp_rename @objname = N'dbo.ProductProductCategories', @newname = N'ProductCategoryProducts', @objtype = N'OBJECT'
IF object_id('[PK_dbo.ProductProductCategories]') IS NOT NULL BEGIN
    EXECUTE sp_rename @objname = N'[PK_dbo.ProductProductCategories]', @newname = N'PK_dbo.ProductCategoryProducts', @objtype = N'OBJECT'
END
ALTER TABLE [dbo].[ProductCategoryProducts] DROP CONSTRAINT [PK_dbo.ProductCategoryProducts]
CREATE TABLE [dbo].[Orders] (
    [Id] [int] NOT NULL IDENTITY,
    [Created] [datetime] NOT NULL,
    [IsDeleted] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.Orders] PRIMARY KEY ([Id])
)
CREATE TABLE [dbo].[ProductOrders] (
    [Id] [int] NOT NULL IDENTITY,
    [ProductId] [int] NOT NULL,
    [Quantity] [int] NOT NULL,
    [PriceAtTheTimeOfPurchase] [decimal](18, 2) NOT NULL,
    [IsDeleted] [bit] NOT NULL,
    [Order_Id] [int] NOT NULL,
    CONSTRAINT [PK_dbo.ProductOrders] PRIMARY KEY ([Id])
)
CREATE INDEX [IX_ProductId] ON [dbo].[ProductOrders]([ProductId])
CREATE INDEX [IX_Order_Id] ON [dbo].[ProductOrders]([Order_Id])
CREATE TABLE [dbo].[OrderStatusHistoryItems] (
    [Id] [int] NOT NULL IDENTITY,
    [Status] [int] NOT NULL,
    [Created] [datetime] NOT NULL,
    [OrderId] [int] NOT NULL,
    [IsDeleted] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.OrderStatusHistoryItems] PRIMARY KEY ([Id])
)
CREATE INDEX [IX_OrderId] ON [dbo].[OrderStatusHistoryItems]([OrderId])
ALTER TABLE [dbo].[ProductCategoryProducts] ADD CONSTRAINT [PK_dbo.ProductCategoryProducts] PRIMARY KEY ([ProductCategory_Id], [Product_Id])
ALTER TABLE [dbo].[ProductOrders] ADD CONSTRAINT [FK_dbo.ProductOrders_dbo.Orders_Order_Id] FOREIGN KEY ([Order_Id]) REFERENCES [dbo].[Orders] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[ProductOrders] ADD CONSTRAINT [FK_dbo.ProductOrders_dbo.Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Products] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[OrderStatusHistoryItems] ADD CONSTRAINT [FK_dbo.OrderStatusHistoryItems_dbo.Orders_OrderId] FOREIGN KEY ([OrderId]) REFERENCES [dbo].[Orders] ([Id]) ON DELETE CASCADE

-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.26'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version infon