-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.30'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

CREATE TABLE [dbo].[People] (
    [Id] [int] NOT NULL IDENTITY,
    [FirstName] [nvarchar](255) NOT NULL,
    [LastName] [nvarchar](255) NOT NULL,
    [MiddleName] [nvarchar](255),
    [IsDeleted] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.People] PRIMARY KEY ([Id])
)
CREATE TABLE [dbo].[Buyers] (
    [Id] [int] NOT NULL IDENTITY,
    [PersonId] [int] NOT NULL,
    [IsDeleted] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.Buyers] PRIMARY KEY ([Id])
)
CREATE INDEX [IX_PersonId] ON [dbo].[Buyers]([PersonId])
ALTER TABLE [dbo].[Orders] ADD [Person_Id] [int]
ALTER TABLE [dbo].[AspNetUsers] ADD [Person_Id] [int]
CREATE INDEX [IX_Person_Id] ON [dbo].[Orders]([Person_Id])
CREATE INDEX [IX_Person_Id] ON [dbo].[AspNetUsers]([Person_Id])
ALTER TABLE [dbo].[AspNetUsers] ADD CONSTRAINT [FK_dbo.AspNetUsers_dbo.People_Person_Id] FOREIGN KEY ([Person_Id]) REFERENCES [dbo].[People] ([Id])
ALTER TABLE [dbo].[Orders] ADD CONSTRAINT [FK_dbo.Orders_dbo.People_Person_Id] FOREIGN KEY ([Person_Id]) REFERENCES [dbo].[People] ([Id])
DECLARE @var0 nvarchar(128)
SELECT @var0 = name
FROM sys.default_constraints
WHERE parent_object_id = object_id(N'dbo.AspNetUsers')
AND col_name(parent_object_id, parent_column_id) = 'FirstName';
IF @var0 IS NOT NULL
    EXECUTE('ALTER TABLE [dbo].[AspNetUsers] DROP CONSTRAINT [' + @var0 + ']')
ALTER TABLE [dbo].[AspNetUsers] DROP COLUMN [FirstName]
DECLARE @var1 nvarchar(128)
SELECT @var1 = name
FROM sys.default_constraints
WHERE parent_object_id = object_id(N'dbo.AspNetUsers')
AND col_name(parent_object_id, parent_column_id) = 'LastName';
IF @var1 IS NOT NULL
    EXECUTE('ALTER TABLE [dbo].[AspNetUsers] DROP CONSTRAINT [' + @var1 + ']')
ALTER TABLE [dbo].[AspNetUsers] DROP COLUMN [LastName]
DECLARE @var2 nvarchar(128)
SELECT @var2 = name
FROM sys.default_constraints
WHERE parent_object_id = object_id(N'dbo.AspNetUsers')
AND col_name(parent_object_id, parent_column_id) = 'MiddleName';
IF @var2 IS NOT NULL
    EXECUTE('ALTER TABLE [dbo].[AspNetUsers] DROP CONSTRAINT [' + @var2 + ']')
ALTER TABLE [dbo].[AspNetUsers] DROP COLUMN [MiddleName]
ALTER TABLE [dbo].[Buyers] ADD CONSTRAINT [FK_dbo.Buyers_dbo.People_PersonId] FOREIGN KEY ([PersonId]) REFERENCES [dbo].[People] ([Id]) ON DELETE CASCADE

-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.30'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version infon