-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.36'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES
ALTER TABLE [dbo].[Orders] ADD [TotalAmount] [decimal](18, 2) NOT NULL DEFAULT 0
ALTER TABLE [dbo].[Orders] ADD [AdditionalComment] [nvarchar](max)

ALTER TABLE [dbo].[AspNetUsers] ADD [IsDeleted] [bit] NOT NULL DEFAULT 0
ALTER TABLE [dbo].[AspNetUsers] ADD [Created] [datetime]
ALTER TABLE [dbo].[AspNetUsers] ADD [Updated] [datetime]
ALTER TABLE [dbo].[AspNetUsers] ADD [Deleted] [datetime]

-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
	
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.36'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, 'Create [IX_Locations_UserIdName]'
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info