-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.37'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES
--ALTER TABLE [dbo].[Products] ADD [Code] [nvarchar](25) NOT NULL DEFAULT ''
--CREATE UNIQUE INDEX [UK_ProductCode] ON [dbo].[Products]([Code])

ALTER TABLE [dbo].[Products] ADD [Code] [nvarchar](25)
GO

UPDATE Products
SET
	Code = CAST(Id AS VARCHAR(25))
	
ALTER TABLE [dbo].[Products] ALTER COLUMN Code NVARCHAR(25) NOT NULL
GO
CREATE UNIQUE INDEX [UK_ProductCode] ON [dbo].[Products]([Code])
GO
-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
	
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.37'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, 'Create [IX_Locations_UserIdName]'
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info