-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.41'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

CREATE TABLE [dbo].[ProductMetaDatas] (
    [Id] [int] NOT NULL,
    [Author] [nvarchar](max),
    [Copyright] [nvarchar](max),
    [Description] [nvarchar](max),
    [Keywords] [nvarchar](max),
    [IsDeleted] [bit] NOT NULL,
    [Created] [datetime],
    [Updated] [datetime],
    [Deleted] [datetime],
    CONSTRAINT [PK_dbo.ProductMetaDatas] PRIMARY KEY ([Id])
)
CREATE INDEX [IX_Id] ON [dbo].[ProductMetaDatas]([Id])
ALTER TABLE [dbo].[ProductMetaDatas] ADD CONSTRAINT [FK_dbo.ProductMetaDatas_dbo.Products_Id] FOREIGN KEY ([Id]) REFERENCES [dbo].[Products] ([Id])
DELETE FROM [dbo].[__MigrationHistory]

-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.41'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info