-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.42'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES
ALTER TABLE [dbo].[ProductCategories] ADD [Order] [int] NOT NULL DEFAULT 0
GO

UPDATE T
	SET T.[Order] = T.RowNum FROM (SELECT ROW_NUMBER() OVER(order by Id) AS RowNum, [Order], ParentId FROM ProductCategories WHERE ParentId IS NULL) T
	WHERE T.ParentId IS NULL

DECLARE @parentId INT
DECLARE parentIdCursor CURSOR FOR SELECT ParentId FROM ProductCategories GROUP BY ParentId;
OPEN parentIdCursor
FETCH NEXT FROM parentIdCursor INTO @parentId
WHILE @@FETCH_STATUS = 0
BEGIN
	UPDATE T
	SET T.[Order] = T.RowNum FROM (SELECT ROW_NUMBER() OVER(order by Id) AS RowNum, [Order], ParentId FROM ProductCategories WHERE ParentId = @parentId) T
	WHERE T.ParentId = @parentId

	FETCH NEXT FROM parentIdCursor INTO @parentId
END

CLOSE parentIdCursor
DEALLOCATE parentIdCursor

CREATE UNIQUE INDEX [UK_PRODUCTCATEGORY_PARENT_ID_ORDER] ON [dbo].[ProductCategories]([ParentId], [Order])

DELETE FROM [dbo].[__MigrationHistory]

-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.42'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info