-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.43'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'UK_PRODUCTCATEGORY_PARENT_ID_ORDER' AND object_id = object_id(N'[dbo].[ProductCategories]', N'U'))
    DROP INDEX [UK_PRODUCTCATEGORY_PARENT_ID_ORDER] ON [dbo].[ProductCategories]
GO

UPDATE T
SET    T.[Order] = T.RowNum
FROM   (
           SELECT ROW_NUMBER() OVER(ORDER BY Id) AS RowNum,
                  [Order],
                  ParentId,
                  IsDeleted
           FROM   ProductCategories
           WHERE  ParentId IS NULL AND IsDeleted = 0
       ) T
WHERE  T.ParentId IS NULL
       AND T.[IsDeleted] = 0 

UPDATE T
SET    T.[Order] = T.RowNum
FROM   (
           SELECT ROW_NUMBER() OVER(ORDER BY Id) AS RowNum,
                  [Order],
                  ParentId,
                  IsDeleted
           FROM   ProductCategories
           WHERE  ParentId IS NULL AND IsDeleted = 1
       ) T
WHERE  T.ParentId IS NULL
       AND T.[IsDeleted] = 1
       
       
DECLARE @parentId INT
DECLARE parentIdCursor CURSOR FOR SELECT ParentId FROM ProductCategories GROUP BY ParentId;
OPEN parentIdCursor
FETCH NEXT FROM parentIdCursor INTO @parentId
WHILE @@FETCH_STATUS = 0
BEGIN
	UPDATE T
	SET T.[Order] = T.RowNum FROM (SELECT ROW_NUMBER() OVER(order by Id) AS RowNum, [Order], ParentId, IsDeleted FROM ProductCategories WHERE ParentId = @parentId) T
	WHERE T.ParentId = @parentId AND T.IsDeleted = 0

	FETCH NEXT FROM parentIdCursor INTO @parentId
END

CLOSE parentIdCursor
DEALLOCATE parentIdCursor

DECLARE parentIdCursor CURSOR FOR SELECT ParentId FROM ProductCategories GROUP BY ParentId;
OPEN parentIdCursor
FETCH NEXT FROM parentIdCursor INTO @parentId
WHILE @@FETCH_STATUS = 0
BEGIN
	UPDATE T
	SET T.[Order] = T.RowNum FROM (SELECT ROW_NUMBER() OVER(order by Id) AS RowNum, [Order], ParentId, IsDeleted FROM ProductCategories WHERE ParentId = @parentId) T
	WHERE T.ParentId = @parentId AND T.IsDeleted = 1
	FETCH NEXT FROM parentIdCursor INTO @parentId
END

CLOSE parentIdCursor
DEALLOCATE parentIdCursor

CREATE UNIQUE INDEX [UK_PRODUCTCATEGORY_PARENT_ID_ORDER_DELETED] ON [dbo].[ProductCategories]([ParentId], [Order], [IsDeleted])

DELETE FROM [dbo].[__MigrationHistory]

-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.43'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info