-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.44'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

CREATE TABLE [dbo].[ProductViewingInfoes] (
    [Id] [int] NOT NULL IDENTITY,
    [Count] [int] NOT NULL,
    [ProductId] [int] NOT NULL,
    [UserHostAddressId] [int] NOT NULL,
    [UserId] [int],
    [IsDeleted] [bit] NOT NULL,
    [Created] [datetime],
    [Updated] [datetime],
    [Deleted] [datetime],
    [User_Id] [nvarchar](128),
    CONSTRAINT [PK_dbo.ProductViewingInfoes] PRIMARY KEY ([Id])
)
CREATE UNIQUE INDEX [UK_ProductIdUserHostAddressId] ON [dbo].[ProductViewingInfoes]([ProductId], [UserHostAddressId])
CREATE INDEX [IX_User_Id] ON [dbo].[ProductViewingInfoes]([User_Id])
CREATE TABLE [dbo].[UserHostAddresses] (
    [Id] [int] NOT NULL IDENTITY,
    [IpAddress] [nvarchar](15) NOT NULL,
    [IsDeleted] [bit] NOT NULL,
    [Created] [datetime],
    [Updated] [datetime],
    [Deleted] [datetime],
    CONSTRAINT [PK_dbo.UserHostAddresses] PRIMARY KEY ([Id])
)
CREATE UNIQUE INDEX [UK_UserHostAddressIpAddress] ON [dbo].[UserHostAddresses]([IpAddress])
ALTER TABLE [dbo].[ProductViewingInfoes] ADD CONSTRAINT [FK_dbo.ProductViewingInfoes_dbo.Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Products] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[ProductViewingInfoes] ADD CONSTRAINT [FK_dbo.ProductViewingInfoes_dbo.AspNetUsers_User_Id] FOREIGN KEY ([User_Id]) REFERENCES [dbo].[AspNetUsers] ([Id])
ALTER TABLE [dbo].[ProductViewingInfoes] ADD CONSTRAINT [FK_dbo.ProductViewingInfoes_dbo.UserHostAddresses_UserHostAddressId] FOREIGN KEY ([UserHostAddressId]) REFERENCES [dbo].[UserHostAddresses] ([Id]) ON DELETE CASCADE
GO

IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_User_Id' AND object_id = object_id(N'[dbo].[ProductViewingInfoes]', N'U'))
    DROP INDEX [IX_User_Id] ON [dbo].[ProductViewingInfoes]
DECLARE @var0 nvarchar(128)
SELECT @var0 = name
FROM sys.default_constraints
WHERE parent_object_id = object_id(N'dbo.ProductViewingInfoes')
AND col_name(parent_object_id, parent_column_id) = 'UserId';
IF @var0 IS NOT NULL
    EXECUTE('ALTER TABLE [dbo].[ProductViewingInfoes] DROP CONSTRAINT [' + @var0 + ']')
ALTER TABLE [dbo].[ProductViewingInfoes] DROP COLUMN [UserId]
EXECUTE sp_rename @objname = N'dbo.ProductViewingInfoes.User_Id', @newname = N'UserId', @objtype = N'COLUMN'
ALTER TABLE [dbo].[ProductViewingInfoes] ALTER COLUMN [UserId] [nvarchar](128) NULL
CREATE INDEX [IX_UserId] ON [dbo].[ProductViewingInfoes]([UserId])

DELETE FROM [dbo].[__MigrationHistory]
-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.44'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info