-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.45'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES
CREATE TABLE [dbo].[Currencies] (
    [Id] [int] NOT NULL IDENTITY,
    [Code] [int] NOT NULL,
    [CodeISO] [nvarchar](max),
    [CountryId] [int],
    [HexSymbol] [nvarchar](max),
    [IsMain] [bit] NOT NULL,
    [Symbol] [nvarchar](5) NOT NULL,
    [Name] [nvarchar](150) NOT NULL,
    [IsDeleted] [bit] NOT NULL,
    [Created] [datetime],
    [Updated] [datetime],
    [Deleted] [datetime],
    CONSTRAINT [PK_dbo.Currencies] PRIMARY KEY ([Id])
)
CREATE UNIQUE INDEX [UK_CurrencyCode] ON [dbo].[Currencies]([Code])
CREATE UNIQUE INDEX [UK_CurrencyCountryId] ON [dbo].[Currencies]([CountryId])
CREATE UNIQUE INDEX [UK_CurrencyCodeISO] ON [dbo].[Currencies]([Symbol])
CREATE UNIQUE INDEX [UK_CurrencyName] ON [dbo].[Currencies]([Name])
CREATE TABLE [dbo].[CurrencyRates] (
    [Id] [int] NOT NULL IDENTITY,
    [CurrencyId] [int] NOT NULL,
    [Rate] [decimal](18, 2) NOT NULL,
    [IsDeleted] [bit] NOT NULL,
    [Created] [datetime],
    [Updated] [datetime],
    [Deleted] [datetime],
    CONSTRAINT [PK_dbo.CurrencyRates] PRIMARY KEY ([Id])
)
CREATE INDEX [IX_CurrencyId] ON [dbo].[CurrencyRates]([CurrencyId])
ALTER TABLE [dbo].[Products] ADD [CurrencyOfThePrice_Id] [int]
CREATE INDEX [IX_CurrencyOfThePrice_Id] ON [dbo].[Products]([CurrencyOfThePrice_Id])
ALTER TABLE [dbo].[Products] ADD CONSTRAINT [FK_dbo.Products_dbo.Currencies_CurrencyOfThePrice_Id] FOREIGN KEY ([CurrencyOfThePrice_Id]) REFERENCES [dbo].[Currencies] ([Id])
ALTER TABLE [dbo].[Currencies] ADD CONSTRAINT [FK_dbo.Currencies_dbo.Countries_CountryId] FOREIGN KEY ([CountryId]) REFERENCES [dbo].[Countries] ([Id])
ALTER TABLE [dbo].[CurrencyRates] ADD CONSTRAINT [FK_dbo.CurrencyRates_dbo.Currencies_CurrencyId] FOREIGN KEY ([CurrencyId]) REFERENCES [dbo].[Currencies] ([Id]) ON DELETE CASCADE
DELETE FROM [dbo].[__MigrationHistory]

INSERT INTO Currencies
(
	-- Id -- this column value is auto-generated
	Code,
	CodeISO,
	CountryId,
	HexSymbol,
	IsMain,
	Symbol,
	Name,
	IsDeleted,
	Created,
	Updated,
	[Deleted]
)
VALUES
(
	980,
	'UAH',
	(SELECT Id FROM Countries WHERE EnglishName='Ukraine'),
	'20b4',
	1,
	N'₴',
	N'Гривня',
	0,
	GETDATE(),
	NULL,
	NULL
)

INSERT INTO Currencies
(
	-- Id -- this column value is auto-generated
	Code,
	CodeISO,
	CountryId,
	HexSymbol,
	IsMain,
	Symbol,
	Name,
	IsDeleted,
	Created,
	Updated,
	[Deleted]
)
VALUES
(
	978,
	'EUR',
	NULL,
	'20ac',
	0,
	N'€',
	N'Євро',
	0,
	GETDATE(),
	NULL,
	NULL
)

INSERT INTO Currencies
(
	-- Id -- this column value is auto-generated
	Code,
	CodeISO,
	CountryId,
	HexSymbol,
	IsMain,
	Symbol,
	Name,
	IsDeleted,
	Created,
	Updated,
	[Deleted]
)
VALUES
(
	840,
	'USD',
	(SELECT Id FROM Countries WHERE EnglishName = 'United States'),
	'24',
	0,
	N'$',
	N'Долар',
	0,
	GETDATE(),
	NULL,
	NULL
)

INSERT INTO CurrencyRates
(
	-- Id -- this column value is auto-generated
	CurrencyId,
	Rate,
	IsDeleted,
	Created,
	Updated,
	[Deleted]
)
VALUES
(
	(SELECT Id FROM Currencies WHERE Code = 840),
	25.1082,
	0,
	Cast('5/20/2016' AS DATETIME),
	NULL,
	NULL
)

INSERT INTO CurrencyRates
(
	-- Id -- this column value is auto-generated
	CurrencyId,
	Rate,
	IsDeleted,
	Created,
	Updated,
	[Deleted]
)
VALUES
(
	(SELECT Id FROM Currencies WHERE Code = 978),
	28.2983,
	0,
	Cast('5/20/2016' AS DATETIME),
	NULL,
	NULL
)
-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.45'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, 'OS-306 Введення цін у долларах та євро'
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info