-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.46'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES
EXECUTE sp_rename @objname = N'dbo.Products.IX_CurrencyOfThePrice_Id',
     @newname = N'IX_CurrencyOfThePriceId',
     @objtype = N'INDEX'

EXECUTE sp_rename @objname = N'dbo.Products.CurrencyOfThePrice_Id',
     @newname = N'CurrencyOfThePriceId',
     @objtype = N'COLUMN'

ALTER TABLE [dbo].[Products] ADD [PriceInTheMainCurrency] [decimal](18, 2) NOT NULL DEFAULT 0
GO

UPDATE Products
SET    CurrencyOfThePriceId = (
           SELECT Id
           FROM   Currencies
           WHERE  CodeISO = 'UAH'
       ), PriceInTheMainCurrency = Price
	
DELETE FROM [dbo].[__MigrationHistory]
-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.46'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, 'OS-306 Перерахунок ціни на вже існуючі товари'
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info