-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.47'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES
IF object_id(N'[dbo].[FK_dbo.Products_dbo.Currencies_CurrencyOfThePriceId]', N'F') IS NOT NULL
    ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_dbo.Products_dbo.Currencies_CurrencyOfThePriceId]
IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_CurrencyOfThePriceId' AND object_id = object_id(N'[dbo].[Products]', N'U'))
    DROP INDEX [IX_CurrencyOfThePriceId] ON [dbo].[Products]
ALTER TABLE [dbo].[Products] ALTER COLUMN [CurrencyOfThePriceId] [int] NOT NULL
CREATE INDEX [IX_CurrencyOfThePriceId] ON [dbo].[Products]([CurrencyOfThePriceId])
ALTER TABLE [dbo].[Products] ADD CONSTRAINT [FK_dbo.Products_dbo.Currencies_CurrencyOfThePriceId] FOREIGN KEY ([CurrencyOfThePriceId]) REFERENCES [dbo].[Currencies] ([Id]) ON DELETE CASCADE
DELETE FROM [dbo].[__MigrationHistory]
-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.47'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, 'OS-306 [CurrencyOfThePriceId] not null'
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info