-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.48'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES
IF object_id(N'[dbo].[FK_dbo.Products_dbo.Currencies_CurrencyOfThePriceId]', N'F') IS NOT NULL
    ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_dbo.Products_dbo.Currencies_CurrencyOfThePriceId]
IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_CurrencyOfThePriceId' AND object_id = object_id(N'[dbo].[Products]', N'U'))
    DROP INDEX [IX_CurrencyOfThePriceId] ON [dbo].[Products]
DECLARE @var0 nvarchar(128)
SELECT @var0 = NAME
FROM sys.default_constraints
WHERE parent_object_id = object_id(N'dbo.Products')
AND col_name(parent_object_id, parent_column_id) = 'CurrencyOfThePriceId';
IF @var0 IS NOT NULL
    EXECUTE('ALTER TABLE [dbo].[Products] DROP CONSTRAINT [' + @var0 + ']')

ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_dbo.Products_dbo.Currencies_CurrencyOfThePrice_Id]
GO

ALTER TABLE [dbo].[Products] DROP COLUMN [CurrencyOfThePriceId]

DELETE FROM [dbo].[__MigrationHistory]

ALTER TABLE [dbo].[Products] ADD [CurrencyIdOfThePrice] [int] NOT NULL DEFAULT 0
GO
UPDATE Products SET CurrencyIdOfThePrice = (SELECT Id FROM Currencies WHERE Code = 980)
CREATE INDEX [IX_CurrencyIdOfThePrice] ON [dbo].[Products]([CurrencyIdOfThePrice])
ALTER TABLE [dbo].[Products] ADD CONSTRAINT [FK_dbo.Products_dbo.Currencies_CurrencyIdOfThePrice] FOREIGN KEY ([CurrencyIdOfThePrice]) REFERENCES [dbo].[Currencies] ([Id]) ON DELETE CASCADE

-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.48'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, 'OS-306 Renamed CurrencyOfThePriceId to CurrencyIdOfThePrice'
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info