-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.50'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES
ALTER TABLE [dbo].[CurrencyRates] ADD [DateOfRate] [datetime] NOT NULL DEFAULT '1900-01-01T00:00:00.000'
GO
UPDATE [dbo].[CurrencyRates] SET DateOfRate = Created
DELETE FROM [dbo].[__MigrationHistory]
-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.50'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, 'OS-306 Added DateOfRate for the CurrencyRate'
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info