-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.52'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES
ALTER TABLE [dbo].[ProductPhotos] ADD [WaterMarked_Id] [int]
CREATE INDEX [IX_WaterMarked_Id] ON [dbo].[ProductPhotos]([WaterMarked_Id])
ALTER TABLE [dbo].[ProductPhotos] ADD CONSTRAINT [FK_dbo.ProductPhotos_dbo.Files_WaterMarked_Id] FOREIGN KEY ([WaterMarked_Id]) REFERENCES [dbo].[Files] ([Id])
DELETE FROM [dbo].[__MigrationHistory]
-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
    
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.52'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, 'OS-306 Added watermarked image'
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info