-- -- Start checking possibility of using
-- DECLARE @newDbVersion       VARCHAR(11)
-- SET @newDbVersion = '0.54'
-- 
-- DECLARE @currentDbVersion       VARCHAR(11)
-- SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()
-- 
-- DECLARE @errorMessage NVARCHAR(500);
-- 
-- IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
-- BEGIN
--     SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
--     RAISERROR(@errorMessage, 20, -1) WITH LOG
-- END
-- GO
-- -- End checking possibility of using
-- 
-- -- BEGIN CHANGES
-- ALTER TABLE [dbo].[ProductCategories] ADD [Article] [nvarchar](max)
-- 
-- DELETE FROM [__MigrationHistory]
-- INSERT [dbo].[__MigrationHistory]([MigrationId], [ContextKey], [Model], [ProductVersion])
-- VALUES (N'201608111804402_ProductCategoryArticle', N'OS.DAL.EF.Migrations.Configuration',  0x1F8B0800000000000400ED3D6B6FDB4892DF0FB8FF20E8D3EE62D6B29DC960367076E1B19D8977E2581B3B73779F0C5AA26DDE509496A432310EF7CBEEC3FDA4FB0BC7E6B31F55FD6293941C628089C5EEAEAEAEAEAAAE7E54D5FFFDCFFF9EFCEDEB2A9C7CF1E32458476FA7470787D3891F2DD6CB207A7C3BDDA60F7FFE71FAB7BFFEEBBF9C5C2C575F27BF56F55E917A59CB28793B7D4AD3CD9BD92C593CF92B2F3958058B789DAC1FD283C57A35F396EBD9F1E1E15F664747333F0331CD604D26279FB6511AACFCFC47F6F36C1D2DFC4DBAF5C2ABF5D20F93F27B567293439D7CF4567EB2F116FEDBE9F5CDC1F9E987838B77D3C96918781902377EF8309D7851B44EBD3443EFCDE7C4BF49E375F478B3C93E78E1EDF3C6CFEA3D7861E29768BF69AAEB8EE0F0988C60D634AC402DB649BA5E19023C7A559264C637B722ECB4265946B48B8CB8E93319754EB8B7D39F622F5A4E277C4F6FCEC298D4CA89FAD33609223F490ECEB32A417490B7F96E22967C57B341C62DE4BFEF2667DB30DDC6FEDBC8DFA6B1177E37996FEFC360F18BFF7CBBFECD8FDE46DB30A431CC70CCCA980FD9A779BCDEF871FAFCC97F28F1BECC909EB1ED667CC3BA19D5A618D46594BE3A9E4E3E669D7BF7A15F330045809B741DFB3FFB911F7BA9BF9C7B69EAC71181E1E724147AE7FA22FFAF7ACB382E9399E9E4CAFBFAC18F1ED3A7B7D3E3D79994BC0BBEFACBEA4B89C1E728C8442C6B94C65B1FC050DEEB59EC136CAB8ECFB31FB7C14AD9ECDC0F7D8B669709D7F0A7F53AF4BDC818EDCF9BA51AED9359C3BC5296CE54469A4D52F90F2930E46F11C0C8EC72B66B28A5EE560B546B302F5810B2661FBD2FC1633E7530F9A6934F7E9897274FC1A658072BB6BE13D93BC97451BC5E7D5A870D08A8DADDAD173FFA19F4DBB5BAEECD7A1B2FCC512FE415479F946B0E01AB8A0D03AD0F0DC5541DD9E9A051F128B4C5B259652926B988B62B63E11B97EC0134152BC2DD68AD4A7C75B456A51ADA88BABDC931DA1AD6224FBE8C62FFD2C4DEC56A8F88BFD23AB05401DB288D9F8DC53F6F358ABEB4AF8BE8310C922785C07623AF9737D7923E5F715D165DB4EB71FEB48E7C46DB89FD667F6A0D56DED3EDEFEBB3272F4E149D1D7730C8DBA7D8F7753AEF82C28330D24B56FCFA5A721BC77EB430569365B3514F6A9B48B6A7304B5FAEF1DC689E72DD1388236FF5DEFF7AF3BCBA5F879DE377995C65ACD5567694C8BEEE42D128B4DBD1A8DEDCDAB5A5DD07D9B2A5DABAAB2B51C62B57265AAB7C8576E66909ED5336404BE54B9A8E0A582E0425A9DA9E621336BC7E28E68A674C43500C107F11ACBC4C21CDE3ECAFF27AF7C7E9E466E11178E369BBB6D0D7668C44EA09E5EF9A9AA2E8331550F9676BB55202EF82D054F8499351E8A57D111229CF92F4567AA556F06AD60F228F2C283A96CF28C37A0752A03493D9054E8B687946AA08128DD56B25D3D9A896DB453A7F5AA76B43D9A69BBA94F1C94F5EE25307B5B9DAE9C2DC46E7F6DF326E88AFBCF837C220C0A4D223BF632A37B38AD511A615ADD86A5EDFA7ABD0EE06916A396A6EF92194FF35ED61ABCBDD5B50F353948D4697B9785CC74B3F36148CBCCD2812D2BE4E379B6C9839A8CF891F375D432709C73FBA3884CE300F4F576493DBD93EE574B90CC890BC4CF0562B3FEA41EA5FB090CA565E8E7FC0D53797C33BA166B3F48215847517AE052DBA3284732899A0148B387C27C9D6B92B750F872F572EBC35022B99BE95CA5BDD64A2BE4DFCE47D90293FE4E8A9000F57E7090DD542A80D563525F93C53B6E44D338A76558147B4F88EA05616B632BA049E345A5FB8D67BBDD2B450F7A617ACAE7497A5CAD555796E34F545C605B21B81E3D73F38587DF25E321BF3218857ED093BF792E4F775BC7CEF254F9D2F9C37FE621B6752992999D5A6F3DEF2BBF68FDBD53D11F6FEFA723635B7BFAFDF798B4C0B5F44A4556B781FD68BDFD6DBF4225A1286FE9C2E4CF9BB06E0049DD3C522D39DEF3266F69767B4856877AC4EB4B2F2A44E4FFEAC8F26CE422F58C166066FCA54559B6510AE212C884835D375FAC3FA3188F450ADAAE2A8163594A896D51C9A147C0FA27101D750A22A313864A812607A442D6BE288E615947816B55AD945D5EE91C0CB994966195DD54E69A7C9E6A39F1E54AD0F0AB8EFE20C66B69EFC762080FD6EA2DDB8B1A48E752DA95747F70FAF7E7CFD83B77CF5C3F7FEABD72F71FFEE6CD36E6A7C91E92B0EC6BBDE59939E7EF5C2ADEBAEACA421D757EEA52107BBFBD290A3997DFE12E43BE299BA45553903AF55BFE2675399E330EB5B1C9861F6DD793F3A40FF86AA5C70CDEEA6F2467BBD85EEE3E6394E524757CFA61B056FA89EAF82E5B2A70B77D5667DFFF6A02FF958DA6AFD26C6B1FBE59B40DDFDD51B5E5BC1AA644036DA702873B4C277479640F6ECDFE6DAB26E3C2E892AC38B50A9ED03CC7F6CBDB2BB3650E671B0F04FD3DBA75C5B5D3FCCB38DFA939774F71E336795318482DDD56579ADE7EAFE0FBCA5C22E09B5CFB92A0DA2C6B2AE8AE259FDABC0B4FAD7C53335BB176AA3CE93F69587656A1F7F45EE03D8892DDFBC97BF7EC8B464AE2F5BBE9CF793451C6C8AA0595D1BEE34BACE75790EFD32CAC842DE4636EFC83BEAEEE6691DA77AD43B3AECC4832897D6E686D1761D186657FAAD2E9A651839FC8DED5D594378585B1460AF69CB52D3F5F12C1BC0E33A0E901B96127859EBB95ADA12003DA18EF0A007AD681E002977F02ADA2326484516A1AE4857AE0A4A61BE9E31AD4B9544AB6E19E640750079A1168EBF58D57408577EEA155E1538E2551DC8A042AA60AC22D433E594FC8DB994B5EFAA2A22698B12949C65B10B2BAF12093B6BAF6A3D5A7D0E2C9DA3C3E3EF1D983AE596A7D566D88BA1F87E8A0720711A2CC2EE2F1547DB630F6D8FB3A7205C1AAEF8421B7CE1E7AA628A13AD6FBCB7CF05A4EB51A8AC186CD48627141DD85F2AFA0B865A9B25ACB10C6C96B0AAF58B5CC2141A7B9B663BC91EBCAA36CF71F0F8D4BD27479F270AD9E49087B6C9780F08036ABD64C8CE4F5BD8FB886A42F705F6974885EF45E9797199FAD29778D8659200E445EA2977A676412FC68993A2E3784B33D84D7E2957BF06FEEF999EBC8C1E2C5DE02900A32828D6DDD6AFF0E76EAE68C9D382F7EB243D5D2EE36CAA5C80EBC1DBF5258B6DCB85971242C9DA0BD4C2965FA8AAE9A60C756205FAE0DD58912A3AE85AB9B27212618236D34C3902AAB6EE60E826ADAC20015B237DCFB51E95BDBCAF4D4D655C2D8E475A5DBF5374FF46713FDE27EE8B07B3F2D4B7639742A2D4606D4FCFF75D59ADD1EE62A9A0CD812AADB4F74FDB6763B7FABCCDA8A9E53675EE2E31EE292D8D53DC7B34673EC06794FE2E480D5368262FDB15252D4C529BCBE45DE83D36390B6DD28C10484E23BD7D8E967E1C3E672A8FE63B96EC573E716DA8267DE53D66C8E7FE7B994216C95210404D14F2C51D612A68C312E7EFF38B9F31DAF075E71F9BAAC7166414A290B52223076D58329EDEAFB7A92E1D09D65E7E05051393AF9FE9ACE08B4FDE3694F55F29E689BDA5626E134A08DF5B4C1F73FED86AEA2848C34EDBF5C66F687228A7EA2551E18FC5D644779E579B72B5D19BE84FFE7FFA0BBABE62A23FF9C93AFC42D5FF5E8150B84EA8DAAF7598E03449D68B209F53561B82A972D8CE2FA2E5C420655673D45D47A1BCCAE63D20B105B2958BD09B379BAEA362419F9C2ED2FC41EA99972CBCA5B81067635BDA2057DF5D0BC8319159593CFF24749F99753EB96A0F4838B828C978388852D1060CA245B0F1427DA27120340D49428FBA33BEE4DCCF8482D880FAD4D1C1824AB6292253F7C94D9A8A6C27338A3DB5B896E06DC3B9583B09F7429CD12D07A348EE0017AB08D81F27ABA864C0CDA4DD701CCDA77A40B903CDFB40B143FDD85FC50412B8209B95692858B0870707E2E269C75E08127DF01342573D06AAB3D10CCA3C6CC600D54C23E90344362A524098B3129C7940834F9D2AD6568C080EA1476E04E7488B25A94C2283F02416F71E631A6510FC866D8A3414FAFCA88A9B6FB4908ACACE8028732C6E3C863AD600220B5DD7843C681F007D20D2B7A20812B30EC35515C0AEC15408C5DA8BEDA6889C47E1078444EBC4629353AC07552627890E02689C893EF41812A9509701F8B085BBC6A05CBC448441CB2865BD30284BB101189425C9DE316879D7A0CB00FC15843683CA961445A84B7AD12A6F463A5C528A3098BAA8723131774D5ED9609C88B81617FEBD482B43AE018495A1C7CECB2A9CB9009B7B451A03EE31B1897CCA531FE833BDBB9DBF14A31EF84A4A6B9DFE81C427C3B1181F6B46CA0768E0198EC1A8F853869C86A6B650B0F0F0E70032F4FBE24A647E74BAAF3D050661C50AED22828362FBC9877310F6B5165B5A2E080405B30C2AB16BEC06E2DD039F8173A0D36F1D3A68480643DD5A15ECA1F6D41598B0894CA0B110EA770819C6F20E1D99739A94E88F055524D2C1A48914B0135C59F9156BB363ED886CCE871A4A511298C654E75AAC057CFC1995064783D138591FB0103636775E36C41043DA283196C4B77143123C2ACE5EDCDCA8C7D1E37A8ACF96D91D0E1DF368489D26F8362BB80977741678B5099860B3B2E211949442E16803AB40A43FA6C3686E8F418F5B8532FA944A49F1A1A89493ACC7457C0C2BBBCB35FBCDBA4AAA54F1573BD8B0DBC8D3D04B807C08FD6FDB2D0471DEF8380F785009A6FF949F29CA7381F679DEA3851976120584C9E864FFA5265A6F679F32FAECFE591393F855CE08F88D97E5397AAFB75B807FB4A63126F57C17D43A1313C3781B21739DDF8725443D8CFE0C3AC9BCEDC352028C427AEB85D4EF855507BF0653E0340CD3995E850D7AFF85E04F877C306408305A45C74C0885BBA0FA148258EC81FE4486351C4B03F3AACBDD5CDCA041181DF0CDC7984CE6A82FBE20815E8F7464994BC203F4FFB405A7520F3C8A5342A773D26A3046645CDCB19986FDDDA90BD922B083BEE2047DE495A6F7F09A11C2BB07FE82E8AF653DD681217AE0AD8B5C04728FEA20AA1D5D2FD86032E7F7F9EBFCAF502EA04C704A57E5A48C8AC2B30F0175E3A7F4F575B67C5ED4D114D8F70102F7B1CD21D7431116E453A00758024D178402294D6CC8155880C029AFC754308ABB0C04487D9BA40725778B91012A3C9614C0882F0304A4F0715034A602164030A86225A8FC100102521E47289A97617984D6C29E45014770488080025E0B0660CBB7F372B0E55B7305D8422F41B02AC56F8057F142588E566178E84C657DF08BCE297530AF1A260EC910041DED1D83D5BC2AD083D9DCD961109B1A3A94134E5D510A02E7B37A28539B00092198CD9C86FC51FB0190BEC27E4D0153C5905ACC982FF9E0E256D85A5C736A4D165611D0C97E42B5605715B54F3E63CAE9C493A807472F8E82496216064284C98E8F3700590AE9530F0D538053502FB2013462656C0371D4E0708D60F74751DE4D1E22A1D4959E1D17E64C4F0F84B25C6424C2FCE7199AD48694334AB03EDF1272489CC3C181C0EEE122612A634C8336B043B816AD2D288479200334D272566686A47257A60655DA9912FAA81C943B172BFA7503E3970CD00AAD8B8F0F6B62472D141A402E109A0581103765803C3A0ECDCC70142ECDD4604A4B5F421A85FB31050BB2F69D53A9B2F7D55482BC6AA523E3FC6A5B5189F38145A8540DC63995AA0D8B9A4AD0199B7464DC795B2B2A71476D14AC7A2FE69C34A51DACA60CE0E3291D0CEBE5D98A2EAC4726C23CE5405A130876200408A4E169C88C4AEE6B488DAA3AAD905048EE5DA822B62D5584FCEA0851A4BE71E23830EF389E24F4AE5F451BCC1F4E4966FBA5BD4AA38BAEE7909716B4EC727E5AB41AD0193F0B0518787524EB6AE078CE3B94147AFE44D0B0941E4522B9688CD474537A109974E080A8CD9CABA909FBC148472978C238A39FE0FCA2C1C82DA44F48BB8CCBA1D443069425CC47C6563631AF988E76B2126F18199914BE33F0C870EF196B62E1FE325D6D6C31670C9C5A72BF0D685CA8E7864827EC8C570B6C3FE25725B5C6D909723C00E79B733DB0651BCED3A0832D2BE25BA0368BD43CA2F04370631AF5C3219287EEA855AD7E160F98C3D287F136F6B5F43D3B0F10BA5971443B7CFB8ABFC90686836F55B529D2C70E55F2FC1AD72ECAC7DA908A903DD7166581BDD7522B20D903ED4E75B198F04C8B6C8AEDABEAD1B05B8275BD9FD578C3AA4F35F4E5ABCE28A1B7AFEE6909BD76E5C8CADDB0B6263194D94824A9EA8D253338C92B4B6A30E049900A4E4FA74B6CB21A911CF84B3F6600E05B3F7A8B5F5E4C4B6800BEEE6BA5D0AB9439F5EBB2BAEC6476B378F2575EF9E164965559F89B74EB8557EBA51F2655C195B7D9646C9B342DCB2F939B8DB720F75C7FBE994EBEAEC228793B7D4AD3CD9BD92CC9412707AB3A57DA62BD9A79CBF5ECF8F0F02FB3A3A3D9AA80315B30BCC5BF85AB7BCA1670EFD1E74AC9866CE9BF0BE22425D6F5BD47B2789C2D5742B50BEC2D1DF294A0EA96792E274E5BF5C0A0AA4EFE2E6D849B83F3D30F0717EF0EC0F3A58686194E8FAB8CA5F311FAFC8190D82E6B79B3F0422FAEDE2C52EF24CFD6E17615E1EF26F1D6E4FF6CFBE28B3E843A07160DA4FEA80FA7CE6D45C3A93FEAC3A1B2643164492C60D589B26848F54711CEC98C9B5C9E736602EB70E2CC33A2169BEABD9BD0E159F595B00603EB00E9869BB9C4060C47CA731E286122F00C618DB2D2401954565A0A88BD54F4270A4B9FE758F191BF0CC2B834C860ED17BB3B5813DA2D06FDAE0223EB8FAC4F5DD9D8F23DF89A528BE79196DDF0FB45F41806C993C8B44C8101AFDC5C73E8900FFAEDE74FEBC8178590FAAC0FEBF6F7F5D99317272238B6C400E253ECFB184CAE6CD418DF96C6682E2D2D5506F2DA584767A04D77759124F50555517F34815327136321A139C67058EFFDAF37CFABFB75C8C2A23E9B08C095471CB358EE2FBEE94381D031C765542F3258FBA55E4AFF81761A2677F8B4D73270F38E340D95998D613E49C6361C1A49567FFD50F8BB322C487DD78726C2318530CA15056518B92A1E9098C8D36542FEBE7EF843235804C81F2D242A779EEE4992485FE24AD07C3592224F901FE041130E61E47B0A4A4BBED7D6FE73CA13C88257E9E682C04848DB8A69CDCCA881540813DDC06E6EE80808E653236DDDCDC4DCE6214598ED6FFEA5D73DC4A8451A28C3B07EF9DACC8EE9418F120D7647DA75C3E840A62A1A9846222B1CF6ED3AF5C2D315D9AB72B2441718E0BA5C0604131249684548C7E12A168FC2B647C2863DA9D29135856F9B86D42921746501B89B67573C6CCA2F5DCBC2C5CA0BB853A2F293218CCC887808E2158F125F66709AEF25C9EFEB78F9DE4B9EB8037DA6C4E048CC5F6C63C293A9B7DA7027636C91E19DC3C7EDEA9E3CB0156E1DAA022B780845E11A46371BEFBC4526A11791771FF2D0C5527DC81FD68BDFD6DBF4225A924391CFE982050D145BC00670E6CB0C56BDC5C24F9277198BFACB33712D058A0D243DD374E2A6B9F9BA336B0310A1C06EA1106396992F151A30BA592C200BCDDC2CCB512E829F300B45F3D910D6AF5EB8858095DF779289D01813A64C5444A86BC744080C5CCF64D5B36F5F8225AFD1B922039D5EB6F9C57FE654395DD015AB0EC410D5C371CB0327F0E9BBCE5113D2B0AB83D13849A193D1FAB3C10AE741A09AAFFA90AE82E5123AB0A5BFF76B21BAB692C61D25056578858F058531D5F779B4C576EA1E06D1EDA25F050567AEF39040E1C31EB7510EC22DCEDD9AA8AA9607701200DDE8E979939A855B7FB18C2D38AC7F6CBD7C382CA8E6AB0956C1C23F4D6F9FFCDB60E55F3FCCB7F1E2A9F0286290C46AE9F754A78CA201A379A47038A3DEA5A00C6457B513607BC9ED5964EB84E73408340B3A0EC7C15D11981D167E5122CB1F8BF770EE278B38D890F3515E24A80243C502681163189751361C7265DAC43D158002750C8EE49ED6718A0E5F2C35C07F7B4FDE207308571FC71770DFA2D294461833D09E75F8766B2D8A43E8469BBAD63065E43FC19C303BE027B94B049BACFE6A708C1BA7C122E4C4B4FE38EA8C5167D8EB8C3AE8562B8D8141D1D71838846E34C6E936CD565F4EA4CA6F26D6D7E6390E1E9F52DE04AB3F0FA7C37EF19FC92D62C2026BBE8ED2BA47D28A05DF6A71CC21A63EB13CEED000D48D0C171D733675F96D3C3CF806A5640E84916AB5AED1F97BAC973629906E2403B8EC37BEE07779A808E43AE5CFA415A950E5B01DDC6C8FD2DB4019EE111F1B9ECD4E7615C1EA34045709A11BA9BDDCD451F918201B24DD970CD6C8CF343F0EC2CF2EAE0D5B5E199A5D17F615F26CA0F928C305DA4D4891EBCE7C2690761DDD03D6497699151B4DBD8B431AD507CD6EDDB22B1B6A52F4C104738F413C8A56D671AE24413385E73FD2746222A1B4581A0008A785A610B2C7154D516D2D7E52C4B2AE0B4F92C965F2711B866FA70F5EC85F796B51800F416ACC3A7334179BCA0592AD6DE4ED08CC0C06B9251BD1901CF00F8AE52E32907CECAD39E714492CA6E13D53D735F49101660486DC926B4A200E1806416F17D9051DB42B1D03A4F1D1B85EA46A2BAE1191B719B818A3897F6CD98603EB4EE1A08984DA616A88A12B4610F31349F840ACACF92607A7269672C8DA5461A1B99B762CD7D24EE90DF5F09DF14D955847C62E551D4706099781A75779D3C1AB1DEB76B492A0A36DCD096C1218F4D60A3530D0248CD075CFAE191350EA9ADD9A787B13424898C057A9F7D7E597FA779D30A14C56C06451C8E9417222E47448CAC4097CF682A2CA74322F5D914890B824F55707A4C2C1CD3FC3B330F0C9BD4855E1CA8B82073F496FD7BFF9D1DBE9F1E1D1F174721A065E52E4AE28F332BC596C9374BDF2A2689D96992D3412351CBD22891AFCE56AC637374FF740A024C93204923D10E1A19F997249197EF1051EA878E393FF30C1D8E864C6373C015891F4FD761A1092E612FAB39FCD383959997B69B669899AB3C9E984701BF169AD396E26055F1C27161D445F3CF24C3CB319784ABEB98C96FED7B7D3FFCA5BBD997CFEA5C8114A7E7D97B1F8E728F8E736FB7E1B6FFDC97F4F2757DED70F7EF4983E6593FDFAD018A9FA4CACC08B1C22A501C1B38193C6A22B230FA63EC66A07863A0F2B00DD07A9F190EAA330135CE843302947AAB218EC2D7B729910A89E542C7AF9EF774CE3EF26F97AF066724818D40E0D6B14DA763FCA83953CBC182158FA4C074E74FCA8A307E1C917A59C47BE7C097C092400D85B9E64D2085898B5253528300AFBD68245F398E3256EA688656D89D829907A658C1395F080A5DA1F56DED73F9AB23D9BEFC072A83410D526C378BC7CF6045B1C1930CE67A52D1B77C3BFA38A3555B160BE84BDD5B1C2BAAFC39025093031B1408156A36D941595BCC1764C2500F9C07470A1923F38185915BAD85E2E60648C673C9B2A951AEA513796886928C7A3513BF6A71DC53C0FFBAB21A9741186074675CB5627467486097CD2B4403140FC45B0F24272B29FFD95E447F4473F66F45B78049EB919360A8BA1B088AF0CF756489A5C10D22380D7C6CC90678728606620EF83C88B9FED2C83913B31CAC0AF2DAD0EC7592098DA6B213368BE82BD159D22F98113DBD7DC94A7C8E9CA9A1FE5CC8CA38177197BCBCB404A0353A33ED3250214568FD036FDF18FC6C759747E848E2C21205B820BF91E250B01433DBE315BB5EA861DAC54D207DD7D483868837112A377C6ED62AA1D71AF238E71240465205CA9CDFB8315502AB4BF3DCDD944090E54109726C101442600B05B784E4828E643B08705244068C77E7CE2037BD4804C07F677C14D8E03E313BDB265FE59F918ED077381D8C5854291F2606F8DC11616A099D9A7B7FE3429185CD862540E066370569C01E431D0E30C45DA02A0C55C969600A80F071351F31F879963AB85198563D843B2B636F7CC8154087BAB4CA8940AFA278C7AABB2D711603ADD82DB5351D0ECDC09F36BDCA31A0AA93C77819EB862C19C80AA705A02B574EFD65A5E8DC2029BA2691FEA5796E9606FD5F0BC096E666840570D5B5D85365916EC7727783E858E4E03EB508966142B9B8DCE067DAAE39725AD75BA0433CE2B9BB5F4B2119F9F6ADD489533A0F350D4DC24831335D8BEEA6860B47BDF41872F7661D3D1A372AECDB09C0F1D7527A680906DE50ECD9F78D5E1DDED5592E55957CDEBE4B792D72D987D54FEA87212E336983E77E021747030386723A0BC9045495F988FBF379DD8320785D91B88F9A7EBF3CF67B767A7B7173F5F7FFA8FBBF9E9A78B8FB77797E777D79FCE2F3EDD9D5F7CB8B8BD38AF27F8D8C12B8926CB852B5C3F9E5E5DD4281E8928B6183000CD7462EA641C2ED6B72135B61EFD4116F906D47907D2F6CA81B4F5B267801374F4A6A63516AD96267D95FDC3C953B53AFF870368AE0DE82605C87822DABF38E9A4CCD85BE3A7CABE617F7C359E26ED0F2BCF15F92DF6968D5B3F11B13B476EB6CC974B212586AEB9AA7DC1CB25DC708EA78B7D446FF732E352D7817E90A6D1D85BE540A5E3B0D861F1F25201537A778ECB595F77D5B6F7D43BF29CD96EF34F064DFE72F334519BE6407A8CBD550CF33ACF86CDE3CBD1781DC478958618D763450E121C0F166D06C654557132D4A5D583050A422BF6A3076385881902A6B30CC5867E4147577C3E08B3CED9D6FA173DFD72411741443036A2421AD73BC2DC8914F003E6B9EA225AE68B6913D9B14487440F3EA8BF5D6DC334201E5459F7D93A2F04AEBE8E0A0D3A395D14E185CFBC64E12D451290D0CE0A0C84C4412C324C318BD79F84EE32C9F0C9DD4E409CFFA2248D33820B0991E671102D828D177294E0EA690A1C19640D912F39F7377E44566C7CC83ABD525153C5CEEB3E38CAAB68C1C4C6D6E22F82AF0D8F61530BCDE9B7C16BDA333F28BF91FAC3F15CF9B8E50E0EAB484F6D51CECE67F98D9DC4C3838323611E2948DC7B9A0254FDB123860046D7113380C1D35016A863790D3AFD2468CE1D12F6CD72E6BA523174F425088FA2A01B2E32995A476C244699C258898AE134082F6199073B5B2C147A260F3D44432C3E74B9E0F4BCEE40291C652B8D3ADD620F6CC2E74CCBDD0C71E3860F31404FA850D68B06127D59699C80D24E384E914BAF0B765338F1229DA29E3B43305BEE8EB9AFCC56B8C762CC5696BE446603FC82F781D940E7D4666AE7549AAB723EAB4F46EB5C0BA675C41ED040BBE10A1B469CCB32740DC016404AF8BD5141F9B518A6818AC297A880C4DB40A4CF41F54F91404E1E93C909A3291412F3423D87577E7929AC01A619043B0282C50DC71AB5A3EE1D148FCF78FE3A52379C4FB1800655D4093FE94FAE0B2E429CA7911EEB8791833051C53D503EC166FE8A527ADACA2FBD700FC436DDF20B408D6EF8C584516AAFD82119A5BE573E7B0AC265F92B90D83EBC331830894D99D192C4B52E9278EA43776527CB9CDD3A651A66E05A4673EDBCB5131C3497A57077C341DD2A24FE898904B16ED5D5F03C68A2C7B49ED50CCA9050F668BBF5E8DB62C0FD60BCC1198EF7C2EEE17EB67F13AAC7DB59131E805CE887E585F28A8F0AEC81B2C30E5CD50EC0483D5ED01A7112189365485EAA3C79EFC061D82E604AA5523B1003E09A320D75B5274B0FEC306DD465FFA7434E59E2459E11F5C84816A744F3C6F170C07368CAC7D9AFBC9C77F9C85174C716D001AABC802348851F3AD2F3B04791058BF574C1DAEF7D467F97A9FA6C36F415EA5C7032DF83454A441A428629DEF7C50A18D33E2C58007B0D7475BA2B3C33C0A5AA25EF0C7AAD8A300EEEEFDECC345F8F9E66A1EC9BD257520AEE1CEF711134066143DA693D67409CED18FF76E8210FF488E7053F2CC2FDFDBBE134AB57457044FB9E982BF7CE77666A77C44A450801E6D141F165CF4D74203402D251137860C89530F7B1BE23D3D000BC7B17AF5777B977C86D6DB783CED886BE1B1A8654D90DB08E55255D9D356AFB66B859BA207A1A75D8378F500EE7EDB840CFA2366504479A6277B9800F1730E8C596421B18ECE5779A1BFADF891B3044CF37DE17B919443CD2B2167E5C5FB92EFD3C0D16B934B927194BF89924AD6EFC947EE7369D5CD4111CD82787378B277FE5BD9D2EEFC95EA60801911725008FB09021F743A11BA812D427E4CDAF8900DEABB42B6DF8F2912987A43B96F22102D04F5902F7410A039D0EEA9B6DB187BA08ECA22835E9A3703046FB298A257DE535D4DD156B9DD04DF119024F4AD460DFA7AB10672DA614EA84AAA0EEAB3C26177A29BF43F0F3223564E1944DE843A801F5769A6C3EFA69B16356750938760A9D0275E4DD96CEAF267D977E7ED2BECB3AF2BE4B5F4855DFD53E4EE8B02A807A99FBEB4D286EE164E32A36F9D2611555E4A32ABCABB43893BA25865994AA80F26A5D478392686FD26E4CE1370F5CB17E9A1A92FEA8F7DA9A1D370F38B08E9B1A928EAB4A9AB3085CCAC2B30954446755A8AB4D04E67C14A3035349420AAA9EC63408C7C642F7420DA86FAE9246C7ECD9212AC22AF1D513DDF2604734F98AEFA0C9478A8CE54729AE4245B5343D9B0A73B51FC170A8CA255D5755B80E29BB5C300AC1F05313AA056B25AAA355319B30CEFCC87AA7BE095B0F79C010110453CC1F21B283D627081A930B278A5E182F6880D8C8A0210D4F203E801444116990296E08CC4EA1C4BBFC261B3AB701281AD61F9D0D930D942419AB24A2923DE2604B7A3FC2B42E0A5A0F1D8BEB030C5E2B04905B96050E0CA9F6C587D6244062D60014D0896EC3A08CEC6472EC8532C9D0D1ED490E0928754E946A3FA1260A1485A573A230FB26812865A973A2549B243551E04B25E08E8D1A41F549428216A47430FCD2A4538F1E088AD13947D0E6AAC01045616B82C03119008268046FE88420CC194DDEBAFCE266E87CCC016CE4D2D80436088B6D84ED7ED3982A6A3DEC6A1CE511B4385EB6028E3473B69DE35A7E910C141AA1F3A1A17EDDF860F55CC1A1A1F0A719F4909A32354958D76F7D580EC854EDF92AE7650D32F14D7A27938491842ADD11AC74AE352118E48F6B2B22BB4620C11954A25DA47EA34EB65CBDE81AC8E751366A8587A4A3AD572F43175CF4F071CBBDF95CB23F7FC64BB76FCA5CDB0E120AE8F8AE3921409F3684C4830A351DD5FE566ECC28F4BCBD0102547144127C3B857B0439D844756724032FC8D5E2AEF4837129F1C085060D8229EE821CD88609ABDAFD96698708C35CE668D348F2BA5EE6A1408D5128DB3172012FE201F2A8DECD832707E8A901746230E8D903F3721B183EFEB2DB81CA64AEE98ADD6BF1C59528983E35C6C5A3D5A365F3F3674838D86B3E5A2E90DBBB9664A35FDFAA0883BED4DDB7A1DF2939017C88EA72317538D82A6F55FD84B22E3B9915B7C1E587EC676687798FFED57AE98749FEF564F629DBE005AB22E3D5C9B99F048F0D88930C66E42F98279B751DA2A1ABD7A31C465595AAB8243FD9172CB37DC1699C060F5E36D478BDC8168D4CDB4F27BF7AE136AB72B1BAF79797D1F536DD6CD36CC8FEEA3E64B660E405AAACFF939980F3C9F586FC4A5C0C21433320B907AFA39FB641B8ACF17E07E413434090A7AD65A2493297294938F9F85C43FAB88E340195E4AB5FE4DEFAAB4D489E145E4737DE17DF06B76CD1F9E03F7A0B725CF025C82D5B0C887A2258B29F9C07DE63ECAD921246D33EFB99F1F072F5F5AFFF0F4F9F70CDE8FF0100 , N'6.1.3-40302')
-- 
-- -- END CHANGES
-- 
-- -- Start writing new version info 
-- GO
-- IF @@ERROR <> 0
-- BEGIN
--     
--     DECLARE @errorMessage VARCHAR(MAX)
--     SET @errorMessage = ERROR_MESSAGE()
--     RAISERROR(@errorMessage, 16, 1)
--     
-- END
-- ELSE
-- BEGIN
--     DECLARE @newDbVersion       varchar(11)
--     SET @newDbVersion = '0.54'
--     BEGIN
--         EXEC AppendDbVersionInfo @newDbVersion, 'OS-358 Article per ProductCategory'
--         
--         PRINT 'Completed successfully'
--     END
-- END
-- GO
-- -- End writing new version info