 -- Start checking possibility of using
 DECLARE @newDbVersion       VARCHAR(11)
 SET @newDbVersion = '0.56'
 
 DECLARE @currentDbVersion       VARCHAR(11)
 SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()
 
 DECLARE @errorMessage NVARCHAR(500);
 
 IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
 BEGIN
     SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
     RAISERROR(@errorMessage, 20, -1) WITH LOG
 END
 GO
 -- End checking possibility of using
 
 -- BEGIN CHANGES
 USE DevOnlineStore

IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_Product_Id' AND object_id = object_id(N'[dbo].[Photos]', N'U'))
    DROP INDEX [IX_Product_Id] ON [dbo].[Photos]
CREATE TABLE [dbo].[ProductPhotos] (
    [Id] [int] NOT NULL,
    [Product_Id] [int],
    [IsMain] [bit] NOT NULL,
    CONSTRAINT [PK_dbo.ProductPhotos] PRIMARY KEY ([Id])
)

CREATE INDEX [IX_Id] ON [dbo].[ProductPhotos]([Id])
CREATE INDEX [IX_Product_Id] ON [dbo].[ProductPhotos]([Product_Id])

INSERT INTO ProductPhotos
(
	Id,
	Product_Id,
	IsMain
)
SELECT Id, Product_Id, IsMain  FROM Photos

-----------------

DECLARE @var0 nvarchar(128)
SELECT @var0 = NAME
FROM sys.default_constraints
WHERE parent_object_id = object_id(N'dbo.Photos')
AND col_name(parent_object_id, parent_column_id) = 'Product_Id';
IF @var0 IS NOT NULL
    EXECUTE('ALTER TABLE [dbo].[Photos] DROP CONSTRAINT [' + @var0 + ']')
GO
ALTER TABLE [dbo].[Photos] DROP CONSTRAINT [FK_dbo.ProductPhotos_dbo.Products_Product_Id]
GO

ALTER TABLE [dbo].[ProductPhotos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductPhotos_dbo.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Photos] DROP COLUMN [Product_Id]
GO

DECLARE @var1 nvarchar(128)
SELECT @var1 = name
FROM sys.default_constraints
WHERE parent_object_id = object_id(N'dbo.Photos')
AND col_name(parent_object_id, parent_column_id) = 'IsMain';
IF @var1 IS NOT NULL
    EXECUTE('ALTER TABLE [dbo].[Photos] DROP CONSTRAINT [' + @var1 + ']')

ALTER TABLE [dbo].[Photos] DROP COLUMN [IsMain]
ALTER TABLE [dbo].[ProductPhotos] ADD CONSTRAINT [FK_dbo.ProductPhotos_dbo.Photos_Id] FOREIGN KEY ([Id]) REFERENCES [dbo].[Photos] ([Id])

DELETE FROM [DBO].[__MigrationHistory]


 -- END CHANGES
 
 -- Start writing new version info 
 GO
 IF @@ERROR <> 0
 BEGIN
     
     DECLARE @errorMessage VARCHAR(MAX)
     SET @errorMessage = ERROR_MESSAGE()
     RAISERROR(@errorMessage, 16, 1)
 END
 ELSE
 BEGIN
     DECLARE @newDbVersion       varchar(11)
     SET @newDbVersion = '0.56'
     BEGIN
         EXEC AppendDbVersionInfo @newDbVersion, 'OS-277 Покращення подання інформації - Create new ProductPhoto'
         
         PRINT 'Completed successfully'
     END
 END
 GO
 -- End writing new version info