 -- Start checking possibility of using
 DECLARE @newDbVersion       VARCHAR(11)
 SET @newDbVersion = '0.57'
 
 DECLARE @currentDbVersion       VARCHAR(11)
 SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()
 
 DECLARE @errorMessage NVARCHAR(500);
 
 IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
 BEGIN
     SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
     RAISERROR(@errorMessage, 20, -1) WITH LOG
 END
 GO
 -- End checking possibility of using
 
 -- BEGIN CHANGES
ALTER TABLE [dbo].[ProductCategories] ADD [Photo_Id] [int]
CREATE INDEX [IX_Photo_Id] ON [dbo].[ProductCategories]([Photo_Id])
ALTER TABLE [dbo].[ProductCategories] ADD CONSTRAINT [FK_dbo.ProductCategories_dbo.Photos_Photo_Id] FOREIGN KEY ([Photo_Id]) REFERENCES [dbo].[Photos] ([Id])
delete from [dbo].[__MigrationHistory]
 -- END CHANGES
 
 -- Start writing new version info 
 GO
 IF @@ERROR <> 0
 BEGIN
     
     DECLARE @errorMessage VARCHAR(MAX)
     SET @errorMessage = ERROR_MESSAGE()
     RAISERROR(@errorMessage, 16, 1)
 END
 ELSE
 BEGIN
     DECLARE @newDbVersion       varchar(11)
     SET @newDbVersion = '0.57'
     BEGIN
         EXEC AppendDbVersionInfo @newDbVersion, 'OS-277 Покращення подання інформації - Add property Photo to the ProductCategory'
         
         PRINT 'Completed successfully'
     END
 END
 GO
 -- End writing new version info