 -- Start checking possibility of using
 DECLARE @newDbVersion       VARCHAR(11)
 SET @newDbVersion = '0.62'
 
 DECLARE @currentDbVersion       VARCHAR(11)
 SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()
 
 DECLARE @errorMessage NVARCHAR(500);
 
 IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
 BEGIN
     SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
     RAISERROR(@errorMessage, 20, -1) WITH LOG
 END
 GO
 -- End checking possibility of using
 
 -- BEGIN CHANGES
CREATE TABLE [dbo].[TextContents] (
    [Id] [int] NOT NULL IDENTITY,
    [Text] [nvarchar](max),
    [Code] [int] NOT NULL,
    [Created] [datetime],
    [Deleted] [datetime],
    [IsDeleted] [bit] NOT NULL,
    [Updated] [datetime],
    CONSTRAINT [PK_dbo.TextContents] PRIMARY KEY ([Id])
)

DELETE from [dbo].[__MigrationHistory]

 -- END CHANGES
 
 -- Start writing new version info 
 GO
 IF @@ERROR <> 0
 BEGIN
     
     DECLARE @errorMessage VARCHAR(MAX)
     SET @errorMessage = ERROR_MESSAGE()
     RAISERROR(@errorMessage, 16, 1)
 END
 ELSE
 BEGIN
     DECLARE @newDbVersion       varchar(11)
     SET @newDbVersion = '0.62'
     BEGIN
         EXEC AppendDbVersionInfo @newDbVersion, 'OS-368 Create file the robots.txt'
         
         PRINT 'Completed successfully'
     END
 END
 GO
 -- End writing new version info