-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.8'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

CREATE TABLE [dbo].[Products] (
    [Id] [int] NOT NULL IDENTITY,
    [Description] [nvarchar](max),
    [Price] [decimal](18, 2) NOT NULL,
    [Name] [nvarchar](250) NOT NULL,
    CONSTRAINT [PK_dbo.Products] PRIMARY KEY ([Id])
)
CREATE TABLE [dbo].[ProductProductCategories] (
    [Product_Id] [int] NOT NULL,
    [ProductCategory_Id] [int] NOT NULL,
    CONSTRAINT [PK_dbo.ProductProductCategories] PRIMARY KEY ([Product_Id], [ProductCategory_Id])
)
CREATE INDEX [IX_Product_Id] ON [dbo].[ProductProductCategories]([Product_Id])
CREATE INDEX [IX_ProductCategory_Id] ON [dbo].[ProductProductCategories]([ProductCategory_Id])
ALTER TABLE [dbo].[ProductProductCategories] ADD CONSTRAINT [FK_dbo.ProductProductCategories_dbo.Products_Product_Id] FOREIGN KEY ([Product_Id]) REFERENCES [dbo].[Products] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[ProductProductCategories] ADD CONSTRAINT [FK_dbo.ProductProductCategories_dbo.ProductCategories_ProductCategory_Id] FOREIGN KEY ([ProductCategory_Id]) REFERENCES [dbo].[ProductCategories] ([Id]) ON DELETE CASCADE

CREATE UNIQUE INDEX [UK_NAME] ON [dbo].[Products]([Name])
-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.8'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info