-- Start checking possibility of using
DECLARE @newDbVersion       VARCHAR(11)
SET @newDbVersion = '0.9'

DECLARE @currentDbVersion       VARCHAR(11)
SET @currentDbVersion = dbo.GetCurrentDbVersionAsString()

DECLARE @errorMessage NVARCHAR(500);

IF dbo.CompareDbVersionWithCurrent(@newDbVersion) <> 1
BEGIN
    SET @errorMessage = 'Cannot install script ' + @newDbVersion + '. DB version ' + @currentDbVersion + ' expected.'
    RAISERROR(@errorMessage, 20, -1) WITH LOG
END
GO
-- End checking possibility of using

-- BEGIN CHANGES

IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_ParentId' AND object_id = object_id(N'[dbo].[ProductCategories]', N'U'))
    DROP INDEX [IX_ParentId] ON [dbo].[ProductCategories]
IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'UK_NAME' AND object_id = object_id(N'[dbo].[Products]', N'U'))
    DROP INDEX [UK_NAME] ON [dbo].[Products]
CREATE TABLE [dbo].[Brands] (
    [Id] [int] NOT NULL IDENTITY,
    [Name] [nvarchar](250) NOT NULL,
    CONSTRAINT [PK_dbo.Brands] PRIMARY KEY ([Id])
)
CREATE UNIQUE INDEX [UK_BrandName] ON [dbo].[Brands]([Name])
CREATE TABLE [dbo].[Countries] (
    [Id] [int] NOT NULL IDENTITY,
    [EnglishName] [nvarchar](50) NOT NULL,
    [ISO] [nchar](3) NOT NULL,
    [PhoneCode] [nvarchar](max),
    [TwoCharsCode] [nchar](2) NOT NULL,
    [ThreeCharsCode] [nchar](3) NOT NULL,
    [Name] [nvarchar](50) NOT NULL,
    CONSTRAINT [PK_dbo.Countries] PRIMARY KEY ([Id])
)
CREATE UNIQUE INDEX [UK_CountryEnglishName] ON [dbo].[Countries]([EnglishName])
CREATE UNIQUE INDEX [UK_CountryISOCode] ON [dbo].[Countries]([ISO])
CREATE UNIQUE INDEX [UK_CountryTwoCharsCode] ON [dbo].[Countries]([TwoCharsCode])
CREATE UNIQUE INDEX [UK_CountryThreeCharsCode] ON [dbo].[Countries]([ThreeCharsCode])
CREATE UNIQUE INDEX [UK_CountryName] ON [dbo].[Countries]([Name])
ALTER TABLE [dbo].[Products] ADD [Brand_Id] [int]
ALTER TABLE [dbo].[Products] ADD [CountryProducer_Id] [int]
ALTER TABLE [dbo].[ProductCategories] ALTER COLUMN [Name] [nvarchar](255) NOT NULL
ALTER TABLE [dbo].[Products] ALTER COLUMN [Name] [nvarchar](255) NOT NULL
CREATE UNIQUE INDEX [UK_PRODUCTCATEGORY_PARENT_ID_NAME] ON [dbo].[ProductCategories]([ParentId], [Name])
CREATE UNIQUE INDEX [UK_ProductName] ON [dbo].[Products]([Name])
CREATE INDEX [IX_Brand_Id] ON [dbo].[Products]([Brand_Id])
CREATE INDEX [IX_CountryProducer_Id] ON [dbo].[Products]([CountryProducer_Id])
ALTER TABLE [dbo].[Products] ADD CONSTRAINT [FK_dbo.Products_dbo.Brands_Brand_Id] FOREIGN KEY ([Brand_Id]) REFERENCES [dbo].[Brands] ([Id])
ALTER TABLE [dbo].[Products] ADD CONSTRAINT [FK_dbo.Products_dbo.Countries_CountryProducer_Id] FOREIGN KEY ([CountryProducer_Id]) REFERENCES [dbo].[Countries] ([Id])

-- END CHANGES

-- Start writing new version info 
GO
IF @@ERROR <> 0
BEGIN
    DECLARE @errorMessage VARCHAR(MAX)
    SET @errorMessage = ERROR_MESSAGE()
    RAISERROR(@errorMessage, 16, 1)
END
ELSE
BEGIN
    DECLARE @newDbVersion       varchar(11)
    SET @newDbVersion = '0.9'
    BEGIN
        EXEC AppendDbVersionInfo @newDbVersion, ''
        
        PRINT 'Completed successfully'
    END
END
GO
-- End writing new version info