<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="registryApplicationRoot" value="HKEY_LOCAL_MACHINE\Software\qa.allvent.com.ua" />
    <add key="ApplicationEnvironment" value="Staging"/>
    <add key="ApplicationName" value="Allvent"/>

    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />

    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="OS.Web" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="MvcSiteMapProvider_DefaultSiteMapNodeVisibiltyProvider" value="MvcSiteMapProvider.FilteredSiteMapNodeVisibilityProvider, MvcSiteMapProvider"/>

    <add key="MailServer_Host" value="smtp.yandex.ru"/>
    <add key="MailServer_Port" value="25"/>
    <add key="MailServer_EnableSsl" value="true"/>
    <add key="MailServer_EnableSsl" value="true"/>
    <add key="MailServer_FromAddress" value="onlinestore-allvent@yandex.ru"/>
    <add key="MailServer_FromPassword" value="onlinestore1"/>

    <add key="recaptchaPublicKey" value="6LeXLBsTAAAAAATXWs6r1UqQZLU08x9kOlvfppeO" />
    <add key="recaptchaPrivateKey" value="6LeXLBsTAAAAAK7UEbRfHb-Z-yfKIELRjrqcB5yg" />
    <add key="recaptchaApiVersion" value="2" />
</appSettings>