@model dynamic

@{    
    Layout = "../Shared/_mainLayout.cshtml";
}

@section content
{
    <table class="full-size">
        <tr class="min-height">
            <td>
                <h2>Замовлення</h2>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
}
