﻿@using OS.Web.Models
@using Recaptcha.Web.Mvc
@model EditOrderViewModel

@{
    Layout = "../Shared/_publicLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <section id="editOrder">
            @using (Html.BeginForm("Create", "Orders", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                <h4>
                    ОФормлення замовлення
                </h4>
                <hr/>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new {@class = "col-md-2 control-label"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.FirstName, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new {@class = "col-md-2 control-label"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.LastName, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MiddleName, new {@class = "col-md-2 control-label"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.MiddleName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.MiddleName, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AdditionalComment, new {@class = "col-md-2 control-label"})
                    <div class="col-md-6">
                        @Html.TextAreaFor(m => m.AdditionalComment, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.AdditionalComment, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        @Html.Recaptcha(language: "uk")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-4">
                        <input type="submit" value="Зберегти" class="btn btn-primary" />
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Відміна" onclick="goBack()">    
                    </div>
                </div>
            }
        </section>
    </div>
</div>


@section scripts
{
}
