@using OS.Web.Models
@model OrderDetailsViewModel

@{
    Layout = "../Shared/_publicLayout.cshtml";
}

<h4>Замовлення</h4>
<hr />

Замовлення підтверджено. Номер замовлення @Model.Order.Id .

@section scripts
{}
