@using OS.Business.Domain
@model ProductCategory

@{
    string imageSrc = "http://placehold.it/400x250/000/fff";

    if (Model.Photo != null)
    {
        imageSrc = Url.Action("GetWhaterMarkedPhoto", "Files", new
        {
            id = Model.Photo.Id
        });
    }
}

<li class="thumbnail">
    <a href="@Url.Action("Index", "Home", new
                 {
                     parentCategoryId = Model.Id
                 })">

        <img class="cbp-vm-image" src="@imageSrc" alt="" />

        <h3 class="cbp-vm-title">@Model.Name</h3>
        <div class="cbp-vm-details">
            @Model.Description
        </div>
    </a>
</li>
