@using OS.Business.Domain
@model ProductCategory

<li class="thumbnail category" style="width: 240px !important;">
    <a href="@Url.Action("Index", "Home", new
                 {
                     parentCategoryId = Model.Id
                 })">

        @{
            string imageSrc = "/Images/category-no-picture.png";

            if (Model.Photo != null)
            {
                imageSrc = $"/api/photos/{Model.Photo.Id}/whatermarked";
            }
        }

        <img class="cbp-vm-image" src="@imageSrc" alt=""/>

        <h1 class="cbp-vm-title">@Model.Name</h1>
    </a>
</li>
