﻿@using OS.Business.Domain
@model Product

@{
    int categoryId = Model.Categories.First().Id;
}

<div class="os-item col-xs-3 col-lg-3">
    <div class="thumbnail">
        <a href="@Url.Action("Details", "Home", new
                         {
                             productId = @Model.Id,
                             categoryId = categoryId
                         })">

            @Html.Partial("_productListItemImage", Model)
            <div class="caption">
                <h5 class="group inner list-group-item-heading">
                    @Model.Name
                </h5>
                <p class="group inner list-group-item-text">
                    @Model.ShortDescription
                </p>

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <b>
                            @Model.Price
                        </b>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <span class="btn btn-success btn-buy-product" style="display: none" productId="@Model.Id" categoryId="@categoryId" productPrice="@Model.Price">Купити</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>