@using OS.Business.Domain
@using OS.Web.Models
@model HomePageViewModel

@{
    Layout = "../Shared/_publicLayout.cshtml";
}

@if (Model.Products.Count > 0)
{
    @Html.Pager(Model.PaginationFilterViewModel, i => Html.ActionLink(i.ToString(), "Index", new {pageNumber = i}) )

    <div id="products" class="table-row list-group">
        @foreach (Product product in Model.Products)
        {
            @Html.Partial("_productItem", product)
        }
    </div>
}
else
{
    <div class="alert alert-info">
        Ця категорія не містить продуктів
    </div>
}

@section scripts
{
}
