@using OS.Business.Domain
@model ContactInfo

@{
    Layout = "~/Views/Shared/_adminListLayout.cshtml";
}

@section actionsToolBar
{
    @Html.ActionLink("Редагувати", "Edit")
}

@section content
{
    <h2>Контактна інформація</h2>

    @Html.Partial("_contactInfo", Model)
}

