<connectionStrings>
    <add name="OnlineStore" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9EAD90_agrynco;Persist Security Info=True;User ID=DB_9EAD90_agrynco_admin;Password=FreeTolik;" providerName="System.data.SqlClient"/>
    <!--<add name="OnlineStore" connectionString="Data Source=OnlineStoreDbSrv;Initial Catalog=DevOnlineStore;Persist Security Info=True;User ID=sa;Password=sa;" providerName="System.Data.SqlClient"/>-->
</connectionStrings>