@using OS.Web.Models.ProductCategoryViewModels
@model ProductListItemViewModel

<li class="product-item">
    <table class="full-size">
        <tr class="min-height">
            <td>
                <div style="float: right;">
                    @Html.ActionLink(" ", "DeleteProduct",
                            new
                            {
                                productId = Model.Product.Id,
                                categoryId = Model.ParentCategoryId
                            },
                            new
                            {
                                style = "width: 16px; height: 16px; display: block; background-image: url('Images/delete.png')",
                                onclick = "return confirmDelete();"
                            })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Model.Product.Name
            </td>
        </tr>
        <tr class="min-height">
            <td>
                <div style="float: right;">
                    @Html.ActionLink(" ", "Edit",
                            new
                            {
                                categoryId = Model.Product.Id
                            },
                            new
                            {
                                style = "width: 16px; height: 16px; display: block; background-image: url('Images/editCategory.png')",
                            })
                </div>
            </td>
        </tr>
    </table>
</li>