@using OS.Business.Domain
@using OS.Common
@model ProductCategory

<div class="os-item col-xs-2 col-lg-2">
    <div class="thumbnail">
        <div class="group list-group-image" style="width: 160px; height: 142px; background-color: burlywood; border-radius: 5px">
            <div class="row" style="margin: 0; padding: 5px;">
                <div class="col-md-1 col-md-offset-7">
                    @Html.ActionLink(" ", "Edit", new
                        {
                            id = Model.Id
                        }, new
                            {
                                @class = "glyphicon glyphicon-edit"
                            })
                </div>

                <div class="col-md-1">
                    @Html.ActionLink(" ", "Delete", new
                        {
                            id = Model.Id
                        }, new
                            {
                                @class = "glyphicon glyphicon-remove",
                                onclick = "return confirmDelete();"
                            })
                </div>
            </div>
            <div class="row" style="margin: 0; padding: 5px;">
                <label>Публікувати</label>
                <input type="checkbox"/>
            </div>
        </div>
        <div class="caption">
            <h5 class="group inner list-group-item-heading">
                <a href="#" action="enter-category" param="@Model.Id">@Model.Name</a>
            </h5>

            @if (Model.Description != null)
            {
                <p class="group inner list-group-item-text">
                    @{
                        string description = Model.Description.Trunc(100);

                        if (description.Length < Model.Description.Length)
                        {
                            description += "...";
                        }
                    }

                    @description
                </p>
            }
        </div>
    </div>
</div>