@using OS.Web.Models
@using OS.Web.Models.ProductCategoryViewModels
@model ProductCategoriesViewModel
@{
    Layout = "~/Views/Shared/_adminListLayout.cshtml";
}

@section substituteBreadcrumbs
{
    @if (Model.BreadCrumbItems.Count > 1)
    {
        <ol class="breadcrumb">
            @foreach (ProductCategoriesBreadCrumbItem breadCrumbItem in Model.BreadCrumbItems)
            {
                <li>
                    @Html.ActionLink(breadCrumbItem.Name, "Index", new
               {
                   parentId = breadCrumbItem.Id
               })
                </li>
            }
        </ol>
    }
}

@section createToolBarItem
{
    <li role="presentation">
        @Html.ActionLink("Створити", "Create", new
   {
       parentCategoryId = Model.ParentCategoryId
   })
    </li>
}

@section deleteToolBarItem
{}

@section list
{
    <table id="categoriesTable" style="width: 100%">
        <thead>
            <tr>
                <th class="min-width">
                    Id
                </th>
                <th style="width: 25%">
                    Назва
                </th>
                <th>
                    Опис
                </th>
                <th class="min-width">
                    Публікувати
                </th>
                <th class="min-width"></th>
                <th class="min-width"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Назва
                </th>
                <th>
                    Опис
                </th>
                <th>
                    Публікувати
                </th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>

    <div id="deleteTeamplate" class="template">
        <span class="btn btn-sm btn-default">Видалити</span>
    </div>
    <div id="editTeamplate" class="template">
        <a class="btn btn-sm btn-default">Редагувати</a>
    </div>
    
    <div id="publishSwitcherTemplate" class="template">
        <input class="publishSwitcher" type="checkbox" data-size="mini"/>
    </div>

    <div id="truePublishTemplate" class="template">
        @{
            BoolViewModel enabled = new BoolViewModel
                {
                    Value = true
                };
        }

        @Html.EditorFor(x => enabled.Value, "bool", new {disabled = true})
    </div>
    <div id="falsePublishTemplate" class="template">
        @{
            BoolViewModel disabled = new BoolViewModel
                {
                    Value = false
                };
        }
        @Html.EditorFor(x => disabled.Value, "bool", new {disabled = true})
    </div>
}

@section scripts
{
    <script src="~/Scripts/application/ProductCategories/productCategoriesListController.js"></script>

    @{
        string parentCategoryId = Model.ParentCategoryId.HasValue ? Model.ParentCategoryId.ToString() : "null";
    }
    <script type="text/javascript">
        var productCategoriesListController = new ProductCategoriesListController(@parentCategoryId);

        function deleteProductCategory(id)
        {
            productCategoriesListController.deleteRecord(id);
        }
    </script>
}
