@{
    Layout = "~/Views/Shared/_adminListLayout.cshtml";
}

@section list
{
    <table id="countries">
        <thead>
            <tr>
                <th>Id</th>
                <th>Назва</th>
                <th>Назва (англ.)</th>
                <th>ISO</th>
                <th>Код телефону</th>
                <th>"2-х" симв. код</th>
                <th>"3-х" симв. код</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Назва</th>
                <th>Назва (англ.)</th>
                <th>ISO</th>
                <th>Код телефону</th>
                <th>"2-х" симв. код</th>
                <th>"3-х" симв. код</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>

    <div style="display: none" id="country-name-template">
        <div class="presenter">
            <div class="template-container">
                <div class="country-name">
                    <span class="name" onclick="toggleMode(this)" style="cursor: pointer;">
                    </span>
                </div>
                <div class="country-name-editor" style="display: none">
                    <input type="text" class="tbxName" />
                    <input type="button" value="Зберегти" onclick="saveName(this)"/>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        function saveName(source)
        {
            toggleMode(source);
        }

        function toggleMode(source)
        {
            var template = $(source).closest("div[class='template-container']");
            template.find(".country-name").toggle();
            template.find(".country-name-editor").toggle();
        }
    </script>

    <script type="text/javascript">
        $().ready(function ()
        {
            $("#countries").DataTable({
                ajax: "api/countries",
                columns: [
                    { "data": "Id" },
                    { "data": "Name" },
                    { "data": "EnglishName" },
                    { "data": "ISO" },
                    { "data": "PhoneCode" },
                    { "data": "TwoCharsCode" },
                    { "data": "ThreeCharsCode" }
                ],
                columnDefs: [
                    {
                        targets: [0, 2, 3, 4, 5, 6],
                        className: "min-width"
                    },
                    {
                        targets: [1],
                        render: function (data, type, row)
                        {
                            var template = $("#country-name-template").find(".presenter");
                            
                            var editor = template.clone();
                            editor.find(".name").html(data);
                            editor.find(".tbxName").attr("value", data);
                            return editor.html();
                        }
                    }
                ],
                language: {
                    url: "scripts/datatables.translations/ukrainian.json"
                }
            });
        });
    </script>
}
