@using OS.Business.Domain
@model Product
<li class="product-item">
    <a href='@Url.Action("Details", new
                 {
                     productId = Model.Id
                 })'>
            @Model.Name
    </a>
</li>