﻿@using OS.Web.Models.ProductViewModels
@model ProductListItemViewModel

<div class="os-item col-xs-2 col-lg-2">
    <div class="thumbnail ">
        <div class="row">
            <div class="col-md-2">
                @Html.EditorFor(m => m.Product.Publish, "bool", new
                    {
                        //disabled = true,
                        onchange = "setPublish(this, " + Model.Product.Id + ")"
                    })
            </div>
            <div class="col-md-1 col-md-offset-5">
                @Html.ActionLink(" ", "Edit", new
                    {
                        id = Model.Product.Id,
                        categoryId = Model.CategoryId
                    }, new
                        {
                            @class = "glyphicon glyphicon-edit"
                        })
            </div>
            <div class="col-md-1">
                @Html.ActionLink(" ", "Delete", new
                    {
                        id = Model.Product.Id,
                        categoryId = Model.CategoryId
                    }, new
                        {
                            @class = "glyphicon glyphicon-remove",
                            onclick = "return confirmDelete();"
                        })
            </div>
        </div>

        @Html.Partial("_productListItemImage", Model.Product)
        <div class="caption">
            <h5 class="group inner list-group-item-heading">
                @Model.Product.Name
            </h5>
            <p class="group inner list-group-item-text">
                @Model.Product.ShortDescription
            </p>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <b>
                        @Model.Product.Price
                    </b>
                </div>
            </div>
        </div>
    </div>
</div>