@using OS.Business.Domain
@model Product

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}


    <table class="full-size">
        <tr class="min-height">
            <td>
                <h3>
                    @Model.Name
                </h3>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        @foreach (ProductPhoto productPhoto in Model.Photos)
                        {
                            <a href="#" class="thumbnail">
                                <img height="171" width="180" src="@Url.Action("GetFileContent", "Files", new {id = productPhoto.Id})" />
                            </a>
                        }
                    </div>
                </div>
                <div>
                    @Html.Raw(Model.Description)
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>

@section scripts
{

}

