@using OS.Business.Domain
@model Product

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section content
{
    <table class="full-size">
        <tr class="min-height">
            <td>
                <h3>
                    @Model.Name
                </h3>
                <div>
                    @foreach (ProductPhoto productPhoto in Model.Photos)
                    {
                        <img height="240px" width="320px" src="@Url.Action("GetFileContent", "Files", new {id = productPhoto.Id})"/>
                    }
                </div>
                <div>
                    @Html.Raw(Model.Description)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
}

@section scripts
{
    
}

