@using OS.Business.Domain
@using OS.Web.Models
@model HomePageViewModel

@{
    Layout = "../Shared/_publicLayout.cshtml";
}


<div id="products" class="row list-group">
    @foreach (Product product in Model.Products)
    {
        @Html.Partial("_productItem", product)
    }
</div>


@section scripts
{
}
