@using OS.Business.Domain
@using OS.Web.Models
@model HomePageViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

@section content
{
    <table class="full-size">
        <tbody>
        <tr class="min-height">
            <td>
                <ul class="nav-pills">
                    @foreach (Product product in Model.Products)
                    {
                        @Html.Partial("_productItem", product)
                    }
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        </tbody>
    </table>


}
