@using OS.Business.Domain
@using OS.Web.Models
@model HomePageViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

@section content
{
    <table class="full-size">
        <tbody>
        <tr class="min-height">
            <td>
                <ul class="nav-pills">
                    @foreach (Product product in Model.Products)
                    {
                        @Html.Partial("_productItem", product)
                    }
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        </tbody>
    </table>
}

@section scripts
{

    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/application/products/consumerBasket.js"></script>

    <script type="text/javascript">
        var consumerBasket;

        $().ready(function()
        {
            consumerBasket = new ConsumerBasket();
        });
    </script>
}
