html, body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.requiredMark
{
    color: red;
}

.warning
{
    color: red !important;
}

.validation-summary-errors
{
    color: red;
}

.field-validation-error
{
    color: red;
}

.min-height
{
    height: 1px;
}

.min-width
{
    width: 1px;
}

.full-height
{
    height: 100%;
}

.full-width
{
    width: 100%;
}

.category-button
{
    width: 100px;
}

.full-size
{
    height: 100%;
    width: 100%;
}

.control-title
{
    white-space: nowrap;
}

.row-space
{
    height: 10px;
}

.product-category-item
{
    display: block;
    width: 180px;
    height: 140px;
    background-color: aliceblue;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.product-item
{
    display: block;
    width: 180px;
    height: 140px;
    background-color: oldlace;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}