html, body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.warning
{
    color: red !important;
}

.min-height
{
    height: 1px;
}

.min-width
{
    width: 1px;
}

.full-width
{
    width: 100%;
}

.category-button
{
    width: 100px;
}

.full-size
{
    height: 100%;
    width: 100%;
}

.control-title
{
    white-space: nowrap;
}

.row-space
{
    height: 10px;
}
