﻿* 
{
	margin: 0;
}

html
{
    height: 100%;
}

body 
{
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.full-width
{
    width: 100%;
}

.min-width
{
    width: 1px;
}

.template
{
    display: none;
}

.product-code-block
{
    background-color: #fff3b5;
    padding: 5px;
    border-radius: 5px;
}

.product-code
{
    color: #333;
    font-size: 1.5em;
    font-family: arial;
}

.product-code-lable
{
    color: #999;    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt 
{
    white-space: normal;
}

.wrapper 
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -7em;
}

.footer, .push 
{
   height: 7em;
   font-size: 11px;
}

.table-container 
{
    display: table;
    padding-bottom: 10px;
}

.table-container .table-row 
{
    height: 100%;
    display: table-row;
}

.table-container .table-row .table-col 
{
    display: table-cell;
    float: none;
    vertical-align: top;
}

.product-category
{
    background-image: url("../Images/product-category.png")
}

.filter-col
{
    padding-left:10px;
    padding-right:10px;
}

.form-group label
{
    margin-right: 0;
    padding-right: 0;
}

.row-centered 
{
    text-align:center;
}

.col-centered 
{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.os-item
{
    float: none !important;
    display: inline-block;
    vertical-align: top;
}

.ui-autocomplete
{
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

html .ui-autocomplete 
{
    height: 300px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}