<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="dbUpdateDefinitions" type="DbVersioning.Configuration.DbUpdateDefinitionsConfigSection, DbVersioning" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

    <dbUpdateDefinitions>
        <items>
            <dbUpdateDefinition key="1">
		<databaseManager typeName="AGrynCo.Lib.Data.DataProviders.MsSql.SqlDatabaseManager"/>
                <dbUpdate typeName="DbVersioning.SqlDbUpdate`1"
			  typeOfDbVersionIdentifier="DbVersioning.MajorMinorDbVersionIdentifier"/>
                
		<dataProvider typeName="AGrynCo.Lib.Data.DataProviders.MsSql.SqlDbDataProvider"
                              assemblyName="AGrynCo.Lib" 
				connectionString="Data Source=qa.sql.frezaopt.com.ua;Initial Catalog=qa.frezaopt.com.ua;Persist Security Info=True;User ID=sa;Password=sa; Connection Timeout=180" />
                
		<dbUpdatesScanner typeName="DbVersioning.FileSystemSqlDbUpdatesScanner">
                    <params>
                        <add key="pathToUpdates" value="..\..\Sources\OS.DAL.EF\Migrations"/>
                    </params>
                </dbUpdatesScanner>
                
		<currentDbVersionDetector typeName="DbVersioning.MajorMinorCurrentDbVersionDetector">
                    <params>
                        <add key="getVersionSqlCommandText" value="IF OBJECT_ID(N'DbVersions', N'U') IS NOT NULL SELECT * from CurrentDbVersion ELSE SELECT 0 AS MajorVersion, -1 AS MinorVersion"/>
                        <add key="checkDbSupportVersioningCommandText" value="CheckVersioningIntegrity"/>
                    </params>
                </currentDbVersionDetector>
                
		<dbUpdateLoader typeName="DbVersioning.FileSystemDbUpdateLoader"/>
                <dbUpdateBuilder typeName="DbVersioning.MajorMinorSqlDbUpdateBuilder2"/>
                <dbUpdateExecuter typeName="DbVersioning.SqlDbUpdateExecutor`1" 
                                assemblyName="DbVersioning"
				typeOfDbVersionIdentifier="DbVersioning.MajorMinorDbVersionIdentifier"
				executionTimeOut="180"	/>
            </dbUpdateDefinition>
        </items>
    </dbUpdateDefinitions>
</configuration>
