@model dynamic

@{
    Layout = "../Shared/_adminLayout.cshtml";
}

@section content
{<table class="full-width">
        <tr>
            <td></td>
            <td style="width: 400px;">
                Адміністративна частина. <br/>
                Виберіть в верхньому меню область для керування данними.
            </td>
            <td></td>
        </tr>
</table>
}
