﻿@using OS.Web.Models.ProductViewModels
@model List<ProductPhotoViewModel>

<table border="1">
    <tbody>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                <div>
                    <a href="@Url.Action("GetFileContent", "Files", new {id = Model[i].Id})">
                        @Html.EditorFor(model => @Model[i].FileName, new
                            {
                                disabled = "disabled"
                            })
                    </a>
                    @Html.HiddenFor(photo => Model[i].IsDeleted)
                    @Html.HiddenFor(photo => Model[i].Id)
                </div>
            </td>
            <td>
                <input type="button" value="Видалити" onclick="deleteProductImage(@Html.IdFor(model => Model[i].IsDeleted))"/>
            </td>
        </tr>
    }
    </tbody>
</table>

<script type="text/javascript">
    function deleteProductImage(isDeletedMarkerId)
    {
        isDeletedMarkerId.value = "True";
        $(isDeletedMarkerId).closest("tr").hide();
    }
</script>