@using OS.Web.Models.ProductCategoryViewModels
@model ProductCategoriesFilterViewModel

@Html.EditorFor(x => x.ParentCategory, "_autocompleteCategorySelector")
<div class="form-group">
    @Html.LabelFor(x => x.Name, new
        {
            @class = "filter-col"
        })
    @Html.TextBoxFor(x => x.Name, new
        {
            @class = "form-control input-sm",
        })
</div>