@{
    Layout = "_mainLayout.cshtml";
}

@section content
{
    <table class="funn-size">
        <tr>
            <td></td>
            <td width="1px">
                <h2>@PageData[Constants.PageData.PAGE_TITLE]</h2>
                @Html.ValidationSummary()

                @RenderSection("accountFormContent")
            </td>
            <td></td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
