﻿@{
    Layout = "_adminLayout.cshtml";
}


@if (IsSectionDefined("substituteBreadcrumbs"))
{
    @section breadcrumbs
    {
        @RenderSection("substituteBreadcrumbs")
    }
}

@section content
{
    @{
        string currentControllerName = (string) ViewContext.RouteData.Values[Constants.RouteDataKeys.CONTROLLER];
    }

    @if (IsSectionDefined("toolBar"))
    {
        @RenderSection("toolBar")
    }
    else
    {
        <div class="panel panel-default">
            <ul class="nav nav-pills">
                @if (IsSectionDefined("createToolBarItem"))
                {
                    @RenderSection("createToolBarItem")
                }
                else
                {
                    <li role="presentation">
                        @Html.ActionLink("Створити", "Create", currentControllerName)
                    </li>
                }
                <li role="presentation">
                    <a href="#">Видалити</a>
                </li>

                @if (IsSectionDefined("filter"))
                {
                    <li class="nav-divider"></li>
                    <li role="presentation">
                        <a href="#" class="btn btn-link" data-toggle="collapse" data-target="#filter-panel">
                            <span class="glyphicon glyphicon-cog"></span>Фільтер
                        </a>
                    </li>
                }

            </ul>
        </div>
    }

    @if (IsSectionDefined("filter"))
    {
        string listFilterFormName = "form-list-filter";

        <div class="container">
            <div class="row">
                <div id="filter-panel" class="collapse in filter-panel" aria-expanded="true">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @using (Html.BeginForm("Index", currentControllerName, FormMethod.Get, new
                                {
                                    id = listFilterFormName,
                                    @class = "form-inline",
                                    role = "form"
                                }))
                            {
                                @RenderSection("filter")
                                <div class="btn btn-primary" onclick="doSearch()">Шукати</div>

                                <script type="text/javascript">
                                    function doSearch()
                                    {
                                        $("#@listFilterFormName").submit();
                                    }
                                </script>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @RenderSection("list")
}

@section scripts
{
    <script type="text/javascript">
        function confirmDelete()
        {
            return confirm("Ви впевнені що хочете видалити елемент?");
        }
    </script>

    @RenderSection("scripts", false)
}
