@{
    Layout = "_adminLayout.cshtml";
}

@section content
{
    <div class="panel panel-default">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#">Створити</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Створити <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Категорію</a></li>
                    <li><a href="#">Продукт</a></li>
                </ul>
            </li>

            <li role="presentation"><a href="#">Видалити</a></li>
        </ul>
    </div>
}

@RenderBody()