@{
    Layout = "_adminLayout.cshtml";
}

@section content
{
    @{
        string currentControllerName = (string) ViewContext.RouteData.Values["controller"];
    }

    <table class="full-size">
        <tr class="min-height">
            <td>
                <nav class="navbar navbar-link">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            @if (IsSectionDefined("creationAction"))
                            {
                                @RenderSection("creationAction")
                            }
                            else
                            {
                                @Html.ActionLink("Створити", "Create", currentControllerName)
                            }
                        </li>
                        <li><a href="#">Видалити</a></li>
                    </ul>
                </nav>
            </td>
        </tr>
        <tr class="min-height">
            <td>
                @RenderSection("content")
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
}

@section scripts
{
    <script type="text/javascript">
        function confirmDelete()
        {
            return confirm("Ви впевнені що хочете видалити елемент?");
        }
    </script>
}
