﻿@using OS.Configuration
@{
    Layout = "_layout.cshtml";
}

@section topSection
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(ApplicationSettings.Instance.AppSettings.ApplicationName, "Index", "Home",
                    new {area = ""}, new {@class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse row">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Категорії товарів", "Index", "ProductCategories")</li>
                    <li>@Html.ActionLink("Товари", "Index", "Products")</li>
                    <li>@Html.ActionLink("Бренди", "Index", "Brands")</li>
                    <li>@Html.ActionLink("Країни", "Index", "Countries")</li>

                    @Html.Partial("_commonMenuItems")
                </ul>

                <div class="navbar-right" style="margin-right: 15px;">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_loginPartial")
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@section content
{
    @if (!IsSectionDefined("breadcrumbs"))
    {
        @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
    }
    else
    {
        @RenderSection("breadcrumbs")
    }

    @RenderSection("content")
}

@section scripts
{
    @RenderSection("scripts", false)
}
