﻿@using OS.Web.Models
@model BaseCreateOrEditViewModel

@{
    Layout = "_adminLayout.cshtml";
}

@section content
{
    @{
        string currentControllerName = (string) ViewContext.RouteData.Values[Constants.RouteDataKeys.CONTROLLER];
    }

    @using (Html.BeginForm("Save", currentControllerName, FormMethod.Post, new
    {
        @class = "form-horizontal",
        role = "form",
        enctype = "multipart/form-data"
    }))
    {
        @Html.HiddenFor(m => m.Id)

        @RenderSection("editor")

        <div id="dialog-buttons" class="form-group" style="display: none">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
                <span></span>
                <input type="reset" class="btn btn-default" value="Відміна" onclick="goBack()">
            </div>
        </div>
    }
}

@section scripts
{
    <script type="text/javascript">
        $().ready(function()
        {
            switch ($("#dialog-buttons-placeholder").length)
            {
                case 0:
                    $("#dialog-buttons").show();
                    break;
                case 1:
                    $("#dialog-buttons").detach().appendTo("#dialog-buttons-placeholder");
                    $("#dialog-buttons").show();
            }
        });

        function goBack()
        {
            if (confirm("Ви впевненні що хочете відмінити редагуквання?") === true)
            {
                window.history.back();
            }
        }
    </script>
    
    @RenderSection("scripts", false)
}
