@{
    Layout = "_mainLayout.cshtml";
}

@section topMenu
{
    <li>
        @Html.ActionLink("Категорія", "Index", "ProductCategories")
    </li>
    <li>
        <a>Продукція</a>
    </li>
    <li>
        <a>Замовлення</a>
    </li>
    <li>
        <a>Користувачі</a>
    </li>
    <li>
        @Html.ActionLink("Магазин", "Index", "Home", null, new
            {
                style = "color: lightgreen !important;"
            })
    </li>

}

@section content
{
    @RenderSection("content")
}

@section scripts
{
    @RenderSection("scripts", false)
}
