@using OS.Business.Domain
<li>
    @Html.ActionLink("Контакти", "Index", "HtmlContents", new
        {
            htmlContentCode = HtmlContentCode.Contacts
        }, new
            {
                @class = "top-menu-item"
            })
</li>
<li>
    @Html.ActionLink("Про магазин", "Index", "HtmlContents", new
        {
            htmlContentCode = HtmlContentCode.About
        }, new
            {
                @class = "top-menu-item"
            })
</li>
<li>
    @Html.ActionLink("Доставка", "Index", "HtmlContents", new
        {
            htmlContentCode = HtmlContentCode.About
        }, new
            {
                @class = "top-menu-item"
            })
</li>