﻿@using OS.Business.Domain
<li>
    @Html.ActionLink("Контакти", "Index", "HtmlContents", new
                   {
                       htmlContentCode = HtmlContentCode.Contacts
                   }, null)
</li>
<li>
    @Html.ActionLink("Про магазин", "Index", "HtmlContents", new
                   {
                       htmlContentCode = HtmlContentCode.About
                   }, null)
</li>