<li>
    <span style="padding-left: 5px">
        <img height="16" width="16" src="~/Images/basket.png" alt="Корзина" />
    </span>
</li>
<li style="color: antiquewhite; margin-left: -8px">
    <span id="basketCounter">
        0
    </span>
</li>