﻿<a href="@Url.Action("Index", "ConsumerBasket")" id="consumerBasketLink" class="">Корзина
    <span id="basketCounter" class="badge">
        0
    </span>
</a>


<script src="~/Scripts/application/products/consumerBasket.js"></script>

<script type="text/javascript">
    var consumerBasket;

    $().ready(function ()
    {
        consumerBasket = new ConsumerBasket();
    });
</script>