@using OS.Web.Models
@model BaseCreateOrEditViewModel
<h4>
    @if (Model.Id.HasValue)
    {
        <text>
            Редагування
        </text>
    }
    else
    {
        <text>
            Створення
        </text>
    }
</h4>
<hr/>
@Html.ValidationSummary(true, "", new {@class = "text-danger"})
