<table border="1" width="100%">
    <tr style="height: 100px">
        <td class="categoryButton">Вентилятори</td>
        <td class="categoryButton">Сушки</td>
        <td class="categoryButton">1</td>
        <td class="categoryButton">2</td>
        <td class="categoryButton">3</td>
        <td class="categoryButton">4</td>
    </tr>
</table>