﻿@using OS.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    var globalSettings = {
        consumerBasket: {
            maxProducts: parseInt("@Constants.ConsumerBasket.MAX_COUNT"), // paseInt because of otherwise warning about syntaxis error in editor
            minProducts: parseInt("@Constants.ConsumerBasket.MIN_COUNT")  // paseInt because of otherwise warning about syntaxis error in editor
        }
    };
</script>


@RenderSection("topSection")

<div class="container table-container wrapper">
    @RenderSection("content")

    <div class="push">
    </div>
</div>

<div class="footer container">
    <hr style="margin-top: 5px;"/>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; @DateTime.Now.Year - @ApplicationSettings.Instance.AppSettings.ApplicationName</p>
                <p>
                    <b>Environment:</b> @ApplicationSettings.Instance.AppSettings.Environment
                </p>
                <p>
                    <span>
                        <b>Client:</b>
                    </span>
                    <span id="browserInfo"></span>
                </p>
            </div>
            <div class="col-md-2 col-md-offset-4">
                @{
                    string mailToTemplate = "mailto:jgrynco@gmail.com?Subject={0}: [коротка інформація про {1}]&cc=agrynco@gmail.com";
                    mailToTemplate += "&body=Тут максимально детально опишіть що саме Ви хочете. Не лінуйтеся і вкладіть картинки якщо це можливо";
                }
                <div class="row">
                    <a href='@string.Format(mailToTemplate, "OS_B", "помилку")'>Повідомити про помилку</a>
                </div>
                <div class="row">
                    <a href='@string.Format(mailToTemplate, "OS_Q", "запит")'>Запитати</a>
                </div>
                <div class="row">
                    <a href='@string.Format(mailToTemplate, "OS_US", "додатковий функціонал")'>Замовити додатковий функціонал</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("browserInfo").innerHTML = navigator.userAgent;
</script>

@RenderSection("scripts")

</body>
</html>