@using OS.Web.Models
@model HorizontalCategorySelectorViewModel

@{
    Layout = "_mainLayout.cshtml";
}

@section topSection
{
    <thead>
        <tr class="minHeight">
            <td></td>
            <td style="width: 640px; background: whitesmoke">
                <div>
                    @Html.Partial("_topMenu")
                </div>
                <div>
                    @Html.Partial("_searchControl")
                </div>
                <div>
                    @Html.Partial("_horizontalCategorySelector", Model)
                </div>
            </td>
            <td></td>
        </tr>
    </thead>
}

@section content
{
    @RenderSection("content")
}
