@using OS.Web.Models
@model HorizontalCategorySelectorViewModel

@{
    Layout = "_mainLayout.cshtml";
}

@section topSection
{
    <div style="padding-bottom: 5px; padding-top: 5px">
        @Html.Partial("_searchControl")
    </div>
    <div>
        @Html.Partial("_horizontalCategorySelector", Model)
    </div>
}

@section scripts
{

}

@section content
{
    @RenderSection("content")
}
