﻿@using OS.Configuration
@{
    Layout = "_layout.cshtml";
}

@section topSection
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(ApplicationSettings.Instance.AppSettings.ApplicationName, "Index", "Home",
                    new {area = ""}, new {@class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse row">
                <ul class="nav navbar-nav navbar-left">
                    @Html.Partial("_commonMenuItems")
                    <li>@Html.ActionLink("Карта сайту", "Index", "SiteMap")</li>
                    @if (Request.IsAuthenticated && Request.RequestContext.HttpContext.User.IsInRole("admin"))
                    {
                        <li>
                            @Html.ActionLink("Адміністрування", "Index", "ProductCategories", null, new
                                {
                                    style = "color: red;"
                                })
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 15px;">
                    <li>
                        @Html.Partial("_searchControl")
                    </li>
                    @Html.Partial("_loginPartial")

                    <li>@Html.Partial("_consumerBasket")</li>
                </ul>
            </div>
        </div>
    </div>
}

@section content
{
    <div class="row table-row">
        <div class="col-md-2 table-col" style="padding-left: 0; padding-right: 0">
            @if (IsSectionDefined("leftMenu"))
            {
                @RenderSection("leftMenu")
            }
            else
            {
                @Html.Action("VerticalCategorySelector", "Categories")
            }

        </div>
        <div class="col-md-10 table-col" style="background: white; padding: 10px;">
            @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
            @RenderBody()
        </div>
        @*<div class="col-md-3 table-col" style="background: lightgray"></div>*@
    </div>
}

@section scripts
{
    @RenderSection("scripts")
}


