<form class="navbar-form" role="search">
    <div class="input-group" style="width: 200px;">
        <input type="text" id="tbSearchProducts" class="form-control" placeholder="Що ви бажаєте купити?" name="searchTerm">
        <span class="input-group-btn" onclick="$('#searchForm').submit();">
            <button class="btn btn-danger" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</form>

<script type="text/javascript">
    $("#tbSearchProducts").autocomplete(
       {
           source: "/api/products/autocomplete",
           minLength: 1,
           create: function ()
           {
               $(this).data('ui-autocomplete')._renderItem = function (ul, item)
               {
                   return $('<li>')
                       .append('<a>' + item.label.replace(this.term, "<b>" + this.term + "</b>") + '</a>')
                       .appendTo(ul);
               };
           }
       });
</script>