<li>@Html.ActionLink("Додому", "Index", "Home")</li>
<li>@Html.ActionLink("Про магазин", "Index", "About")</li>
<li>@Html.ActionLink("Контакти", "Index", "ContactInfo")</li>
<li>@Html.ActionLink("Оплата та доставка", "Index", "Stub")</li>

