@using OS.Web.Controllers
@model VerticalCategorySelectorViewModel

<!-- SmartMenus core CSS (required) -->
<link href="~/Scripts/SmartMenus/css/sm-core-css.css" rel="stylesheet" />

<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href="~/Scripts/SmartMenus/css/sm-mint/sm-mint.css" rel="stylesheet" />

<!-- #main-menu config - instance specific stuff not covered in the theme -->
<!-- Put this in an external stylesheet if you want the media query to work in IE8 (e.g. where the rest of your page styles are) -->
<style type="text/css">
</style>

<script src="~/Scripts/SmartMenus/jquery.smartmenus.js"></script>


<script type="text/javascript">
    $(function ()
    {
        $('#main-menu').smartmenus({
            mainMenuSubOffsetX: 1,
            mainMenuSubOffsetY: -8,
            subMenusSubOffsetX: 1,
            subMenusSubOffsetY: -8,
            subIndicators: true,
            keepHighlighted: true,
            hideOnClick: false,
            markCurrentItem: true,
            markCurrentTree: false
        });

        $('#main-menu').smartmenus("itemActivate", $("a.current"));
        $("a.selected").focus();
        //$("a.menu-item").unbind("click");
    });
</script>

<nav role="navigation">
    <ul id="main-menu" class="sm sm-vertical sm-mint">
        @foreach (VerticalCategorySelectorItemViewModel category in Model.Categories)
        {
            <li>
                @Html.Partial("_verticalCategorySelectorItem", category)
                @Html.Partial("_verticalCategorySelectorChildItems", category.ChildCategories)
            </li>
        }
    </ul>
</nav>
