@using OS.Web.Controllers
@model VerticalCategorySelectorItemViewModel
<div>
    <span>
        @Html.ActionLink(string.Format("{0} ({1})", Model.Name, Model.ProductsCount), "ChangeCategory", "Home", new
            {
                categoryId = Model.Id
            }, null)
    </span>

</div>