﻿@using OS.Web.Models.HtmlContentViewModels
@model HtmlContentCreateOrEditViewModel

@{
    Layout = "~/Views/Shared/_adminEditLayout.cshtml";
}

@section editor
{
    <div class="row">
        <div class="col-md-12">
            <section id="category-editor">
                <h4>
                    @if (Model.Id != 0)
                    {
                        <text>
                            Редагування
                        </text>
                    }
                    else
                    {
                        <text>
                            Створення
                        </text>
                    }
                </h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Code)
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
                    </div>
                </div>
            </section>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js"></script>

    <script type="text/javascript">
        tinyMCE.init(
        {
            selector: "#@Html.IdFor(m => m.Text)",
            entity_encoding: "raw",
            plugins: "autoresize",
            autoresize_bottom_margin: 0
        });
    </script>
}


