@using OS.Web.Models
@model HorizontalCategorySelectorViewModel

@{
    ViewBag.Title = "About";
    Layout = "../Shared/_mainLayout.cshtml";
}

@section content
{
    <h2>@ViewBag.Title</h2>
}

@section scripts
{}
