@using OS.Business.Domain
@model ContactInfo

@{
    Layout = "../Shared/_publicLayout.cshtml";
}

<h4>Контакти</h4>
<div class="col=col-md-12">
    @Html.Partial("_contactInfo", Model)
</div>

@section scripts
{
}
