@using OS.Business.Domain
@model ContactInfo

@{
    Layout = "../Shared/_mainLayout.cshtml";
}

@section content
{
    <h2>Контакти</h2>

    @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
}

@section scripts
{
}
