@using OS.Business.Domain
@model ContactInfo

@{
    Layout = "../Shared/_mainLayout.cshtml";
}

@section content
{
    <table class="full-size">
        <tr class="min-height">
            <td>
                <h2>Контакти</h2>

                @Html.Partial("_contactInfo", Model)
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>


}

@section scripts
{
}
