<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="agrynco" value="http://tc.grynco.com.ua:81/httpAuth/app/nuget/v1/FeedService.svc/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials>
    <agrynco>
      <add key="Username" value="packages-accessor" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA79i/L/6vKUKvfIS18wlo9QAAAAACAAAAAAAQZgAAAAEAACAAAADG2fcZj0d3mTsUxinY0pcGSWk7T0HzV/SbN77IotSx5AAAAAAOgAAAAAIAACAAAAAfAwsTnxjRLn4v6EGufYDBau1tvsgQxC4IhyPwyggulSAAAADYHP9xCns4M9+K5X5IB94H+1wdq//M8z/ylWBhj4o80kAAAAAy1BQQFmDBwGleqt8vHzh6N8QhKGpkmVmBlmWPMKAv7w+fa39ZkbIEhopxwRqGvQhj+MR2U/v0JKgzWMdjyYtX" />
    </agrynco>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
</configuration>